$use-objects-buttons: true !default;

@if $use-objects-buttons == true{
/* ==========================================================================
   Object - Buttons
   ========================================================================== */
  
  // object
  @include object(o-btn) {
    display:inline-block;                
    margin:0;                              
    padding: 0 $space;             
    border:none;                      
    background: $c-object;       
    vertical-align:middle;      
    white-space:nowrap;        
    font-size:100%;         
    font-family:inherit;           
    line-height: 2.4;             
    cursor: pointer;

    // modifier
    @include modifier(small) {
      padding-right: $space-half;
      padding-left: $space-half;
      line-height: 1.8;
    }

    // modifier
    @include modifier(large) {
      padding-right: $space-1-half;
      padding-left: $space-1-half;
      line-height: 3.4;
    }

    // modifier
    @include modifier(huge) {
      padding-right: $space-2;
      padding-left: $space-2;
      line-height:4.4;
    }

    // modifier
    @include modifier(full) {
      padding-right:0;          
      padding-left: 0;           
      width:100%;
      text-align:center;
    }

    // modifier
    @include modifier(natural) {
      padding-right: $space-1-half;
      padding-left: $space-1-half;
      vertical-align:baseline;
      font-size:inherit;
      line-height:inherit;
    }

    // modifier
    @include modifier(positive) {
      @extend %e-bc-success;
    }

    // modifier
    @include modifier(negative) {
      @extend %e-bc-error;
    }

    // modifier
    @include modifier(pill) {
      border-radius: 200px;     
    }

    @include modifier(rounded) {
     border-radius: $button-round;    
    }

    // modifier
    @include modifier(inactive) {
      @extend %e-s-disable;
    }
  
  }

}//endif