$use-objects-flag: true !default;

@if $use-objects-flag == true{
/* ==========================================================================
   Object - Flag
   ========================================================================== */
   
  // object
  @include object(o-flag) {
    display: table;
    @extend %e-w-1\/1;

    // element
    @include element(body) {
      @extend %e-w-1\/1;
      display: table-cell;
      vertical-align: middle;
    }

    // element
    @include element(image) {
      padding-right: $space-2;
      display: table-cell;
      vertical-align: middle;
      > img {
        display: block;
        max-width: none;
      }
    }

    // modifier
    @include modifier(rev) {
      .o-flag__image{
        padding-right: 0;
        padding-left: $space-2;
      }
    }

  }

}//end if