$use-objects-notify: true !default;

@if $use-objects-notify == true or $use-objects-forms == true{
/* ==========================================================================
   Objects - Notify
   ========================================================================== */

  // object
  @include object(o-notify) {
    background-color: $c-object;
    padding: $space;
    
    @if $use-global-mb == true{
      @include mb;

      p:last-child{
        margin-bottom: 0;
      }
    }
    
    // modifier
    @include modifier(success)    { background-color: $c-success; }
    @include modifier(info)       { background-color: $c-info; }
    @include modifier(warning)    { background-color: $c-warning; }
    @include modifier(danger)     { background-color: $c-danger; }
    @include modifier(error)      { background-color: $c-error; }
    
  } 

}//endif