h1(class='styleguide-title +u-h5x') Block List Object
h2.styleguide-title--sub Block List Unordered
.styleguide-objects.block-list
  ul.o-block-list
    li list
    li 
      a(href="/").o-block-list__link another
    li another
    li another
h2.styleguide-title--sub Block List Definition
.styleguide-objects.block-list
  dl.o-block-list
    dt hell
    dd hell
    dt hell
    dd hell
    dt hell
    dd hell
h2.styleguide-title--sub Block List Unordered Bordered
.styleguide-objects.block-list
  ul.o-block-list.--bordered
    li above
    li 
      a(href="/").o-block-list__link another
    li asdfas
    li asdfa
h2.styleguide-title--sub Block List Definition Bordered
.styleguide-objects.block-list
  dl.o-block-list.--bordered
    dt hell
    dd hell
    dt hell
    dd hell
    dt hell
    dd hell
.styleguide-code
  p this will be code