h1(class='styleguide-title +u-h4x') Breadcrumb Object
h2.styleguide-title--sub Breadcrumb
.styleguide-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.styleguide-code
  p code here
h2.styleguide-title--sub Breadcrumb Line
.styleguide-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --line')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.styleguide-code
  p code here
h2.styleguide-title--sub Breadcrumb Path
.styleguide-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --path')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.styleguide-code
  p code here
h2.styleguide-title--sub Breadcrumb Data
.styleguide-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --data')
    li(data-breadcrumb="→")
      a(class="" href='/') one
    li(data-breadcrumb="→")
      a(class="" href='/') one
    li(data-breadcrumb="→")
      a(class="" href='/') one
    li(data-breadcrumb="→")
      a(class="" href='/') one
.styleguide-code
  p code here
h2.styleguide-title--sub Breadcrumb Arrow
.styleguide-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --arrow')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.styleguide-code
  p code here
h2.styleguide-title--sub Breadcrumb Arrow
.styleguide-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --arrow')
    a(class="" href='/') one
    a(class="" href='/') one
    a(class="" href='/') one
    a(class="" href='/') one
.styleguide-code
  p code here