h1(class='styleguide-title +u-h4x') Buttons Object
h2.styleguide-title--sub Buttons All
.styleguide-base.buttons
  p
    a(class='o-btn  --small' href='/') Button Small
  p
    a(class='o-btn' href='/') Button Default
  p
    a(class='o-btn  --large' href='/') Button Large
  p
    a(class='o-btn  --huge' href='/') Button Huge
  p
    a(class='o-btn  --full' href='/') Button Full
  p
    a(class='o-btn  --natural' href='/') Button Natural
  p
    a(class='o-btn  --inactive' href='/') Button Inactive
  p
    a(class='o-btn  +u-disable' href='/') Button Disable
  p
    a(class='o-btn  --round' href='/') Button Round
  p
    a(class='o-btn  +u-rounded' href='/') Button Round
  p
    a(class='o-btn  +u-bgc-success' href='/') Button Success
  p
    a(class='o-btn  +u-bgc-error' href='/') Button Danger
  p
    a(class='o-btn  --positive' href='/') Button Positive
  p
    a(class='o-btn  --negative' href='/') Button Negative