h1(class='styleguide-title +u-h4x') Figure
h2.styleguide-title--sub Figure (default)
.styleguide-objects.figure
  figure.o-fig
    img(src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
.styleguide-code
  p code here
h2.styleguide-title--sub Figure with Rounded Image
.styleguide-objects.figure
  figure.o-fig
    img(class='+u-rounded' src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
.styleguide-code
  p code here
h2.styleguide-title--sub Figure with Round Image
.styleguide-objects.figure
  figure.o-fig
    img(class='+u-round' src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
.styleguide-code
  p code here