h1(class='styleguide-title +u-h4x') Flyout Object
h2.styleguide-title--sub Default
.styleguide-objects.flyout
  .o-flyout.o-btn
    | Flyout Button
    .o-flyout__content
      ul(class='+u-unstyled  o-nav  --stacked')
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
.styleguide-code
  p code here
h2.styleguide-title--sub Flyout Left
.styleguide-objects.flyout   
  div(class='o-btn  o-flyout  --left')
    | Flyout Button
    .o-flyout__content
      ul(class='+u-unstyled  o-nav  --stacked')
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
.styleguide-code
  p code here