h1(class='styleguide-title +u-h4x') Images Objects
h2.styleguide-title--sub Standard
div.styleguide-objects.images
  img(src='http://placehold.it/200')
h2.styleguide-title--sub Right
div.styleguide-objects.images(class='+u-clearfix')
  img(class='o-img  --right' src='http://placehold.it/200')
h2.styleguide-title--sub Left
div.styleguide-objects.images(class='+u-clearfix')
  img(class='o-img  --left' src='http://placehold.it/200')
h2.styleguide-title--sub Center
div.styleguide-objects.images(class='+u-clearfix')
  img(class='o-img  --center' src='http://placehold.it/200')
h2.styleguide-title--sub Circle
div.styleguide-objects.images(class='+u-clearfix')
  img(class='o-img  --circle' src='http://placehold.it/200')
h2.styleguide-title--sub Rounded
div.styleguide-objects.images(class='+u-clearfix')
  img(class='o-img  +rounded' src='http://placehold.it/200')
h2.styleguide-title--sub Full Width
div.styleguide-objects.images(class='+u-clearfix')
  div(style='width:300px')
    img(class='o-img  --full' src='http://placehold.it/200')  