h1(class='styleguide-title +u-h4x') Island Object
h2.styleguide-title--sub Default
.styleguide-objects.island
  .o-island
    span Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
.styleguide-code
  p code here