h1(class='styleguide-title +u-h4x') Labels
h2.styleguide-title--sub label
div.styleguide-objects.label-pills
  span(class='o-label') label
  span(class='o-label  +u-bgc-success') label
  span(class='o-label  +u-bgc-info') label
  span(class='o-label  +u-bgc-danger') label
  span(class='o-label  +u-bgc-warning') label
  span(class='o-label  +u-bgc-error') label
  span(class='o-label  +u-disabled') label
.styleguide-code
  p code here
h2.styleguide-title--sub Label Rounded
div.styleguide-objects.label-pills
  span(class='o-label  --rounded') rounded
  span(class='o-label  --rounded  +u-bgc-success') rounded
  span(class='o-label  --rounded  +u-bgc-info') rounded
  span(class='o-label  --rounded  +u-bgc-danger') rounded
  span(class='o-label  --rounded  +u-bgc-warning') rounded
  span(class='o-label  --rounded  +u-bgc-error') rounded
  span(class='o-label  --rounded  +u-disabled') rounded
.styleguide-code
  p code here
h2.styleguide-title--sub Label Pills
div.styleguide-objects.label-pills
  span(class='o-label  --pill') pill
  span(class='o-label  --pill  +u-bgc-success') pill
  span(class='o-label  --pill  +u-bgc-info') pill
  span(class='o-label  --pill  +u-bgc-danger') pill
  span(class='o-label  --pill  +u-bgc-warning') pill
  span(class='o-label  --pill  +u-bgc-error') pill
  span(class='o-label  --pill  +u-disabled') pill
.styleguide-code
  p code here