h1(class='styleguide-title +u-h4x') Link Complex Object
.styleguide-objects.link-complex
  a.o-link-complex(href='log-in')
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      span.o-link-complex__target Log in
.styleguide-code
  p code here