h1(class='styleguide-title +u-h4x') Nav Object
.styleguide-objects.nav
  ul(class='o-nav')
    a(href='/') one
    a(href='/') one
    a(href='/') one
    a(href='/') one
.styleguide-code
   p code here
.styleguide-objects.nav
  ul(class='o-nav  --block')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.styleguide-code
   p code here
.styleguide-objects.nav
  ul(class='o-nav  --fit')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.styleguide-code
   p code here
.styleguide-objects.nav
  ul(class='o-nav  --banner')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.styleguide-code
   p code here
.styleguide-objects.nav
  ul(class='o-nav  --stacked')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.styleguide-code
   p code here
.styleguide-objects.nav
  ul(class='o-nav  --keywords')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.styleguide-code
   p code here