h1(class='styleguide-title +u-h4x') Notify Object
.styleguide-objects.notify
  .o-notify(class='+u-bgc-success')
    p success notify
  .o-notify(class='+u-bgc-danger')
    p danger notify
  .o-notify(class='+u-bgc-error')
    p error notify
  .o-notify(class='+u-bgc-warning')
    p warning notify
  .o-notify(class='+u-bgc-info')
    p info notify
  .o-notify(class='+u-disable')
    p disabled notify
.styleguide-code
  p this will be code