h1(class='styleguide-title +u-h4x') Options Object
h2.styleguide-title--sub Option
.styleguide-objects.options
  ul.o-options
    li
      a(href='/') Option
    li
      a(class='' href='/') Option One
    li
      a(href='/') Option Two
.styleguide-code
  p code here
h2.styleguide-title--sub Option Fit
.styleguide-objects.options
  ul(class='o-options  --fit')
    li
      a(href='/') Option
    li
      a(href='/') Option One
    li
      a(href='/') Option Two
.styleguide-code
  p code here
h2.styleguide-title--sub Option Fit Center
.styleguide-objects.options
  ul(class='o-options  --fit')
    li(class='+u-text-center')
      a(href='/') Option
    li(class='+u-text-center')
      a(class='+active' href='/') Option One
    li(class='+u-text-center')
      a(href='/') Option Two
.styleguide-code
   p code here
h2.styleguide-title--sub Option with active state
.styleguide-objects.options
  ul.o-options
    li
      a(href='/') Option
    li
      a(class='+u-active' href='/') Option One
    li
      a(href='/') Option Two
.styleguide-code
  p code here