h1(class='styleguide-title +u-h4x') Stats Object
h2.styleguide-title--sub Stats
.styleguide-objects.stat-group
  .o-stat-group
    dl.o-stat
      dt.o-stat__title Tweets
      dd.o-stat__value 27,740
    dl.o-stat
      dt.o-stat__title Following
      dd.o-stat__value 11,529
    dl.o-stat
      dt.o-stat__title Followers
      dd.o-stat__value 12,105
.styleguide-code
  p this will be code
h2.styleguide-title--sub Stats Custom
.styleguide-objects.stat-group
  .o-stat-group
    dl.o-stat(class='+u-p-box  +u-mr  +u-silver  +u-text-center')
      dt.o-stat__title Tweets
      dd.o-stat__value 27,740
    dl.o-stat(class='+u-p-box  +u-mr  +u-silver  +u-text-center')
      dt.o-stat__title Following
      dd.o-stat__value 11,529
    dl.o-stat(class='+u-p-box  +u-mr  +u-silver  +u-text-center')
      dt.o-stat__title Followers
      dd.o-stat__value 12,105
.styleguide-code
  p this will be code