h1(class='styleguide-title +u-h4x') This or This Object
h2.styleguide-title--sub This or This Default
.styleguide-objects.this-that
  h1.o-this-or-this
    a(class='o-this-or-this__cols  +u-two-fifths' href='#')
      | Free
    span(class='o-this-or-this__cols  +u-one-fifth')
      | or
    a(class='o-this-or-this__cols  +u-two-fifths' href='#')
      | Pro
.styleguide-code
  p this will be code
h2.styleguide-title--sub This or This
.styleguide-objects.this-that
  .o-this-or-this
    p(class='o-this-or-this__cols  +u-two-fifths')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    span(class='o-this-or-this__cols  +u-one-fifth')
      | or
    p(class='o-this-or-this__cols  +u-two-fifths')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
.styleguide-code
  p this will be code
h2.styleguide-title--sub This or This
.styleguide-objects.this-that
  .o-this-or-this
    p(class='o-this-or-this__cols  +u-2-8')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    span(class='o-this-or-this__cols  +u-4-8')
      | or
    p(class='o-this-or-this__cols  +u-2-8')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
.styleguide-code
  p this will be code
h2.styleguide-title--sub This or This
.styleguide-objects.this-that
  .o-this-or-this
    div(class='o-this-or-this__cols  +u-3-8  +u-silver  +u-p-box')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    span(class='o-this-or-this__cols  +u-2-8')
      | or
    div(class='o-this-or-this__cols  +u-3-8  +u-silver   +u-p-box')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
.styleguide-code
  p this will be code