h1(class='styleguide-title +u-h4x') Thumbnail Object
h2.styleguide-title--sub Default
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item" src= "http://placehold.it/200")
.styleguide-code
  p code here
h2.styleguide-title--sub Thumbnail Rounded
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-rounded" src= "http://placehold.it/200")
.styleguide-code
  p code here
h2.styleguide-title--sub Thumbnail Round
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-round" src= "http://placehold.it/200")
.styleguide-code
  p code here