$use-utilities-display:  true !default;
   
@if $use-utilities-display == true{
/* ==========================================================================
   Utilities - Displays
   ========================================================================== */
   
  @include add(u-block)               { display:block; }
  @include add(u-inline)              { display:inline; }
  @include add(u-inline-block)        { display:inline-block; }
  @include add(u-table)               { display:table; }
  @include add(u-table-cell)          { display:table-cell; }
  @include add(u-flex)                { display:flex; }

  // @include add(u-d-blo)        { display:block; }
  // @include add(u-d-inl)        { display:inline; }
  // @include add(u-d-ib)         { display:inline-block; }
  // @include add(u-d-tab)        { display:table; }
  // @include add(u-d-tc)         { display:table-cell; }
  // @include add(u-d-fle)        { display:flex; }

}//endif