$use-utilities-text:  true !default;
   
@if $use-utilities-text == true{
/* ==========================================================================
   Utilities Text
   ========================================================================== */

  // text underline
	@include add(u-text-underline)         { text-decoration: underline;} 

  // // text underline
  // @include add(u-td-ul)        { text-decoration: underline;} 

  // text transforms
	@include add(u-text-lower)             { text-transform: lowercase;} 
	@include add(u-text-upper)             { text-transform: uppercase;} 
	@include add(u-text-caps)              { text-transform: capitalize;} 

  // // text transforms
  // @include add(u-tt-low)       { text-transform: lowercase;} 
  // @include add(u-tt-upp)       { text-transform: uppercase;} 
  // @include add(u-tt-cap)       { text-transform: capitalize;} 

  // text align
	@include add(u-text-left)              { text-align: left;}
	@include add(u-text-right)             { text-align: right;}
	@include add(u-text-center)            { text-align: center;}
	@include add(u-text-justify)           { text-align: justify;}


  // // text align
  // @include add(u-ta-lef)       { text-align: left;}
  // @include add(u-ta-rig)       { text-align: right;}
  // @include add(u-ta-cen)       { text-align: center;}
  // @include add(u-ta-jus)       { text-align: justify;}


}//end if