h1(class='styleguide-title +u-h4x') Colours Utilities
h2.styleguide-title--sub Colour Custom
.styleguide-utilities.config
  div.styleguide-colors.white     
  div.styleguide-colors.silver 
  div.styleguide-colors.gray   
  div.styleguide-colors.black 
  div.styleguide-colors.red   
  div.styleguide-colors.maroon
  div.styleguide-colors.orange  
  div.styleguide-colors.yellow  
  div.styleguide-colors.olive 
  div.styleguide-colors.lime  
  div.styleguide-colors.green
  div.styleguide-colors.aqua    
  div.styleguide-colors.teal  
  div.styleguide-colors.blue  
  div.styleguide-colors.navy 
  div.styleguide-colors.fuchsia 
  div.styleguide-colors.purple
  div.styleguide-colors.pink  
h2.styleguide-title--sub Colour Background
.styleguide-utilities.config
  div.styleguide-colors.bgc-1
  div.styleguide-colors.bgc-2
  div.styleguide-colors.bgc-3
h2.styleguide-title--sub Colour Buttons
.styleguide-utilities.config
  div.styleguide-colors.c-btn-1
  div.styleguide-colors.c-btn-2
  div.styleguide-colors.bgc-btn-1
  div.styleguide-colors.bgc-btn-2
h2.styleguide-title--sub Colour Links
.styleguide-utilities.config
  div.styleguide-colors.c-link
  div.styleguide-colors.c-link-hover
  div.styleguide-colors.c-link-active
  div.styleguide-colors.c-link-visited
h2.styleguide-title--sub Colour Notify
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bgc-success')
  div.styleguide-colors(class='+u-bgc-info')
  div.styleguide-colors(class='+u-bgc-error')
  div.styleguide-colors(class='+u-bgc-warning')
  div.styleguide-colors(class='+u-bgc-danger')
h2.styleguide-title--sub Colour Headings
.styleguide-utilities.config
  div.styleguide-colors.c-heading-1
  div.styleguide-colors.c-heading-2
  div.styleguide-colors.c-heading-3
h2.styleguide-title--sub Colour Forms
.styleguide-utilities.config
  div.styleguide-colors.c-form-1
  div.styleguide-colors.c-form-2
  div.styleguide-colors.c-form-input
  div.styleguide-colors.c-form-hover
  div.styleguide-colors.c-form-active
  div.styleguide-colors.c-form-focus
h2.styleguide-title--sub Colour Code
.styleguide-utilities.config
  div.styleguide-colors.c-code
  div.styleguide-colors.bgc-code
h2.styleguide-title--sub Colour Brands
.styleguide-utilities.config
  div.styleguide-colors.google
  div.styleguide-colors.facebook
  div.styleguide-colors.twitter
  div.styleguide-colors.linkedin
  div.styleguide-colors.dribble
  div.styleguide-colors.instagram
  div.styleguide-colors.googleplus
  div.styleguide-colors.behance
  div.styleguide-colors.gimmebar
  div.styleguide-colors.github
  div.styleguide-colors.tumblr
  div.styleguide-colors.youtube
  div.styleguide-colors.vine
  div.styleguide-colors.kickstarter
  div.styleguide-colors.dropbox
  div.styleguide-colors.rss
  div.styleguide-colors.facebook
  div.styleguide-colors.codepen
  div.styleguide-colors.foursquare
  div.styleguide-colors.soundcloud
  div.styleguide-colors.wordpress
  div.styleguide-colors.tumblr
  div.styleguide-colors.blogger
  div.styleguide-colors.squarespace
  div.styleguide-colors.joomla
  div.styleguide-colors.drupal
  div.styleguide-colors.typepad
  div.styleguide-colors.expression-engine
  div.styleguide-colors.kirby
  div.styleguide-colors.moveabletype
  div.styleguide-colors.disqus
  div.styleguide-colors.html