h1(class='styleguide-title +u-h4x') Display Utilities
.styleguide-utilities.displays
  div(class='+u-block') 
    p u-block
  div(class='+u-inline') 
    p u-inline
  div(class='+u-inline-block') 
    p u-inline-block
  div(class='+u-table') 
    p u-table
  div(class='+u-flex') 
    p u-flex