h1(class='styleguide-title +u-h4x') Floats Utilities
h2.styleguide-title--sub Right
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-float-right" style='height:100px; width:100px;')
    span right
.styleguide-code
  p code here
h2.styleguide-title--sub Left
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-float-left" style='height:100px; width:100px;')
    span left
.styleguide-code
  p code here
h2.styleguide-title--sub Inherit
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-float-right  +u-float-inherit  +u-clearfix" style='height:100px; width:100px;')
     span inherit
.styleguide-code
  p code here