h1(class='styleguide-title +u-h4x') Fonts Utilities
h2.styleguide-title--sub Text H1 - H6
.styleguide-utilities.typograph
  h1 h1 Heading
  h2 h2 Heading
  h3 h3 Heading
  h4 h4 Heading
  h5 h5 Heading
  h6 h6 Heading
h2.styleguide-title--sub Text Body
.styleguide-utilities.typograph
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
h2.styleguide-title--sub Text Lead
.styleguide-utilities.typograph
  p(class='+u-font-lead') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
h2.styleguide-title--sub Font Sizes Headings
.styleguide-utilities.typography
  h1(class='+u-font-massive') font-size: $f-massive
  h1(class='+u-font-huge') font-size: $f-huge
  h1(class='+u-font-large') font-size: $f-large
h2.styleguide-title--sub Font Sizes H1 - H6
.styleguide-utilities.typography
  h1(class='+u-h1x') font-size: $f-h1x
  h1(class='+u-h2x') font-size: $f-h2x
  h1(class='+u-h3x') font-size: $f-h3x
  h1(class='+u-h4x') font-size: $f-h4x
  h1(class='+u-h5x') font-size: $f-h5x
  h1(class='+u-h6x') font-size: $f-h6x
h2.styleguide-title--sub Font Sizes H1 - H6
.styleguide-utilities.typography
  h1(class='+u-h1') font-size: $f-h1
  h1(class='+u-h2') font-size: $f-h2
  h1(class='+u-h3') font-size: $f-h3
  h1(class='+u-h4') font-size: $f-h4
  h1(class='+u-h5') font-size: $f-h5
  h1(class='+u-h6') font-size: $f-h6
h2.styleguide-title--sub Font Sizes Base
.styleguide-utilities.typography
  p(class='+u-font-base') font-size: $f-base
h2.styleguide-title--sub Font Sizes Helpers
.styleguide-utilities.typography
  p(class='+u-font-lead') font-size: $f-lead
  p(class='+u-font-half') font-size: $f-half
h2.styleguide-title--sub Font Small Sizes
.styleguide-utilities.typography
  p(class='+u-h7') font-size: $f-h7
  p(class='+u-h8') font-size: $f-h8
  p(class='+u-h9') font-size: $f-h9
  p(class='+u-h10') font-size: $f-h10
h2.styleguide-title--sub Font Small Sizes
.styleguide-utilities.typography
  p(class='+u-font-small') font-size: $f-small:
  p(class='+u-font-tiny') font-size: $f-tiny
  p(class='+u-font-micro') font-size: $f-micro
h2.styleguide-title--sub Font Weight
.styleguide-utilities.typography
  p(class='+u-font-100') font-weight: 100
  p(class='+u-font-200') font-weight: 200
  p(class='+u-font-300') font-weight: 300
  p(class='+u-font-400') font-weight: 400
  p(class='+u-font-500') font-weight: 500
  p(class='+u-font-600') font-weight: 600
  p(class='+u-font-700') font-weight: 700
  p(class='+u-font-800') font-weight: 800
  p(class='+u-font-900') font-weight: 900
h2.styleguide-title--sub Font Weight
.styleguide-utilities.typography
  p(class='+u-font-normal') font-weight: normal
  p(class='+u-font-bold') font-weight: bold
  p(class='+u-font-lighter') font-weight: lighter
  p(class='+u-font-bolder') font-weight: bolder
h2.styleguide-title--sub Font Style
.styleguide-utilities.fonts
  p(class='+u-font-normal') font-style: normal
  p(class='+u-font-italic') font-style: italic
  p(class='+u-font-oblique') font-style: oblique