h1(class='styleguide-title +u-h4x') Position Utilities
.styleguide-utilities.position(style='height:200px;')
  p inspect element
  div(class='+u-pos-fix' style='height:200px; width:200px;')
    span +u-pos-fix
.styleguide-utilities.position(class='+u-clearfix')
  div(class='+u-pos-rel' style='height:200px; width:200px;')
    span +u-pos-rel
.styleguide-utilities.position(class='+u-pos-rel' style='height:400px;')
  div(class='+u-pos-abs' style='height:200px; width:200px;')
    span +u-pos-abs
.styleguide-utilities.position(class='+u-pos-rel' style='height:400px;')
  div(class='+u-pos-abs  +u-pos-t0' style='height:100px; width:200px;')
    span +u-pos-abs  +u-pos-t0
  div(class='+u-pos-abs  +u-pos-r0' style='height:100px; width:200px;')
    span +u-pos-abs  +u-pos-r0
  div(class='+u-pos-abs  +u-pos-b0' style='height:100px; width:200px;')
    span +u-pos-abs  +u-pos-b0
  div(class='+u-pos-abs  +u-pos-l0' style='height:100px; width:200px;')
    span +u-pos-abs  +u-pos-b0
.styleguide-utilities.position(class='+u-pos-rel' style='height:400px;')
  div(class='+u-pos-abs  +u-pos-t0  +u-pos-r0' style='height:100px; width:300px;')
    span +u-pos-abs  +u-pos-b0 +u-pos-r0
.styleguide-utilities.position(class='js-z-index  +u-pos-rel' style='height:400px;')
  div(class='+u-pos-abs  +u-pos-l0  +u-z-5  +u-bgc-success  +u-p-box  +u-m-box' style='height:200px; width:400px;')
    span +u-z-5
  div(class='+u-pos-abs  +u-pos-l0  +u-z-4  +u-bgc-info  +u-p-box  +u-m-2-box' style='height:200px; width:400px;')
    span +u-z-4
  div(class='+u-pos-abs  +u-pos-l0  +u-z-3  +u-bgc-danger  +u-p-box  +u-m-3-box' style='height:200px; width:400px;')
    span +u-z-3
  div(class='+u-pos-abs  +u-pos-l0  +u-z-2  +u-bgc-error  +u-p-box  +u-m-4-box' style='height:200px; width:400px;')
    span +u-z-2
  div(class='+u-pos-abs  +u-pos-l0  +u-z-1  +u-bgc-warning  +u-p-box  +u-m-5-box' style='height:200px; width:400px;')
    span +u-z-1