h1(class='styleguide-title +u-h4x') Rounded Utilities
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-round" style='height:200px; width:200px;')
    span round
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded" style='height:200px; width:200px;')
    span rounded
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-t" style='height:200px; width:200px;')
    span rounded-top
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-tl" style='height:200px; width:200px;')
    span rounded-top-left
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-tr" style='height:200px; width:200px;')
    span rounded-top-right
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-r" style='height:200px; width:200px;')
    span rounded-right
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-b" style='height:200px; width:200px;')
    span rounded-bottom
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-bl" style='height:200px; width:200px;')
    span rounded-bottom-left
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-br" style='height:200px; width:200px;')
    span rounded-bottom-right
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-rounded-l" style='height:200px; width:200px;')
    span rounded-left
div.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-round  +u-reset-rounded" style='height:200px; width:200px;')
    span reset-rounded