h1(class='styleguide-title +u-h4x') States Utilities
div.styleguide-utilities.states
  a(class='o-btn +u-disable') disable state
  br
  a(class='o-btn +u-active') active state
  br
  a(class='o-btn +u-informative') informative state