h1(class='styleguide-title +u-h4x') Text Utilities
h2.styleguide-title--sub Text Transform
.styleguide-utilities.typography
  p(class='+u-text-lower') Lorem ipsum dolor sit amet.
  p(class='+u-text-upper') Lorem ipsum dolor sit amet.
  p(class='+u-text-caps') Lorem ipsum dolor sit amet.
.styleguide-code
  p code here
h2.styleguide-title--sub Text Align
.styleguide-utilities.text-alignment
  p(class='+u-text-left') 
    span Left
    |  As most young candidates for the pains and penalties.
  p(class='+u-text-right')
    span Right
    |  Where else but from Nantucket did those aboriginal whalemen, the Red-Men.
  p(class='+u-text-center')
    span Center
    |  Now having a night, a day, and still another night following.
  p(class='+u-text-justify') 
    span Justify
    |  So, wherever you go, Ishmael, said I to myself, as I stood in the middle. So, wherever you go, Ishmael, said I to myself, as I stood in the middle. So, wherever you go, Ishmael, said I to myself, as I stood in the middle.
.styleguide-code
  p code here