h1(class='styleguide-title +u-h4x') Utilities Vertical Align
div.styleguide-utilities.vertical-align
  div(class="+u-table" style='height:100px;')
    div(class='+u-table-cell  +u-vert-top') 
      span top
div.styleguide-utilities.vertical-align
  div(class="+u-table" style='height:100px;')
    div(class='+u-table-cell  +u-vert-bottom') 
      span bottom
div.styleguide-utilities.vertical-align
  div(class="+u-table" style='height:100px;')
    div(class='+u-table-cell  +u-vert-middle') 
      span middle
div.styleguide-utilities.vertical-align
  div(class="+u-table" style='height:100px;')
    div(class='+u-table-cell  +u-vert-inherit') 
      span inherit