h1(class='styleguide-title +u-h4x') Web Fonts Utilities
h2.styleguide-title--sub Source Sans Pro
div.styleguide-base.fonts
  h2(class='+u-font-200'  style='font-family: source-sans-pro') ExtraLight
  p(class='+u-font-huge  +u-font-200'  style='font-family: source-sans-pro')
    | Parciais fy jac codi baw hud

    | llawn dŵr ger tŷ Mabon.

    // Welsh
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | Ξεσκεπάζω την ψυχοφθόρα βδελυγμία.

    | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

    | αβγδεζηθικλμνξοπρσςτυφχψω

    | У рудога вераб’я ў сховішчы пад

    | фатэлем ляжаць нейкія гаючыя зёлкі.

    // Byelarussian
    | абвгґдђѓеёєжнњопрс
    // с́

    | тћќуўuфхцчџшщъыьэюя

    | АБВГҐДЂЃЕЁЄЖНЊОПРС
    // С́

    | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-200  +u-font-italic'  style='font-family: source-sans-pro') ExtraLight Italic
  p(class='+u-font-huge  +u-font-200  +u-font-italic'  style='font-family: source-sans-pro')
    | Muļķa hipiji mēģina brīvi

    | nogaršot celofāna žņaudzējčūsku.

    // Latvian
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-300'  style='font-family: source-sans-pro') Light
  p(class='+u-font-huge  +u-font-300'  style='font-family: source-sans-pro')
    | Þú dazt á hnéð í vök og yfir

    | blóm sexý pæju.

    // Icelandic
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | Ταχίστη αλώπηξ βαφής ψημένη γη,

    | δρασκελίζει υπέρ νωθρού κυνός.

    | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

    | αβγδεζηθικλμνξοπρσςτυφχψω

    span(lang='sr')
      | Љубазни фењерџија чађавог

      | лица хоће да ми покаже штос.

    // Serbian
    | абвгґдђѓеёєжнњопрс
    // с́

    | тћќуўuфхцчџшщъыьэюя

    | АБВГҐДЂЃЕЁЄЖНЊОПРС
    // С́

    | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-300  +u-font-italic'  style='font-family: source-sans-pro') Light Italic
  p(class='+u-font-huge  +u-font-300  +u-font-italic'  style='font-family: source-sans-pro')
    | Loď čeří kýlem tůň obzvlášť

    | v Grónské úžině.

    // Czech
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-400'  style='font-family: source-sans-pro') Regular
  p(class='+u-font-huge  +u-font-400'  style='font-family: source-sans-pro')
    | Viewing quizzical abstracts

    | mixed up hefty jocks.

    // English
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | Ζαφείρι δέξου πάγκαλο,

    | βαθῶν ψυχῆς τὸ σῆμα.

    | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

    | αβγδεζηθικλμνξοπρσςτυφχψω

    | Съешь же ещё этих мягких

    | французских булок, да выпей чаю.

    // Russian
    | абвгґдђѓеёєжнњопрс
    // с́

    | тћќуўuфхцчџшщъыьэюя

    | АБВГҐДЂЃЕЁЄЖНЊОПРС
    // С́

    | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-500  +u-font-italic'  style='font-family: source-sans-pro') Italic
  p(class='+u-font-huge  +u-font-500  +u-font-italic'  style='font-family: source-sans-pro')
    | Voix ambiguë d’un cœur qui au

    | zéphyr préfère les jattes de kiwi.

    // French
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-600'  style='font-family: source-sans-pro') SemiBold
  p(class='+u-font-huge  +u-font-600'  style='font-family: source-sans-pro')
    | Victor jagt zwölf Boxkämpfer

    | quer über den großen Sylter Deich.

    // German
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | Διαφυλάξτε γενικά τη ζωή σας

    | από βαθειά ψυχικά τραύματα.

    | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

    | αβγδεζηθικλμνξοπρσςτυφχψω

    | Гномът Доцьо приключи спящ

    | в шейна за жаби.

    // Bulgarian
    | абвгґдђѓеёєжнњопрс
    // с́

    | тћќуўuфхцчџшщъыьэюя

    | АБВГҐДЂЃЕЁЄЖНЊОПРС
    // С́

    | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-600  +u-font-italic'  style='font-family: source-sans-pro') Semibold Italic
  p(class='+u-font-huge  +u-font-600  +u-font-italic'  style='font-family: source-sans-pro')
    | Jovencillo emponzoñado de

    | whisky: ¡qué figurota exhibe!

    // Spanish
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-700'  style='font-family: source-sans-pro') Bold
  p(class='+u-font-huge  +u-font-700'  style='font-family: source-sans-pro')
    | Flygande bäckasiner söka

    | hwila på mjuka tuvor.

    // Swedish
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | Αβρός δ’εν προχοαίς κύκλωψ

    | φθογγάζετο μύρμηξ.

    | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

    | αβγδεζηθικλμνξοπρσςτυφχψω

    | Чуєш їх, доцю, га? Кумедна ж ти,

    | прощайся без ґольфів!

    // Ukrainian
    | абвгґдђѓеёєжнњопрс
    // с́

    | тћќуўuфхцчџшщъыьэюя

    | АБВГҐДЂЃЕЁЄЖНЊОПРС
    // С́

    | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-700  +u-font-italic'  style='font-family: source-sans-pro') Bold Italic
  p(class='+u-font-huge  +u-font-700  +u-font-italic'  style='font-family: source-sans-pro')
    | Fahiş bluz güvencesi yağdırma

    | projesi çöktü.

    // Turkish
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-900'  style='font-family: source-sans-pro') Black
  p(class='+u-font-huge  +u-font-900'  style='font-family: source-sans-pro')
    | Jeżu klątw, spłódź Finom

    | część gry hańb!

    // Polish
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | Γαζίες και μυρτιές δεν θα βρω

    | πια στο χρυσαφί ξέφωτο.

    | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

    | αβγδεζηθικλμνξοπρσςτυφχψω

    | Щётканы фермд пийшин цувъя.

    | Бөгж зогсч хэльюү.

    // Mongolian
    | абвгґдђѓеёєжнњопрс
    // с́

    | тћќуўuфхцчџшщъыьэюя

    | АБВГҐДЂЃЕЁЄЖНЊОПРС
    // С́

    | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪
  hr
  h2(class='+u-font-900  +u-font-italic'  style='font-family: source-sans-pro') Black Italic
  p(class='+u-font-huge  +u-font-900  +u-font-italic'  style='font-family: source-sans-pro')
    | In quel campo si trovan funghi

    | in abbondanza.

    // Italian
    | abcdefghijklmnopqrstuvwxyz

    | ABCDEFGHIJKLMNOPQRSTU

    | VWXYZ & 1234567890 .,:;… ¡!¿?

    | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

    | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

    | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

    | ←
    // ↖
    | ↑
    // ↗
    | →
    // ↘
    | ↓
    // ↙
    | ▲▶▼◀△▷▽◁ ☑✓ ♪