h1(class='styleguide-title +u-h4x') Utilities Widths
h2.styleguide-title--sub Whole & Halves
.styleguide-utilities.widths
  div(class='+u-one-half  +u-bgc-info')
    p(class='+u-inline-block') 50%
    p(class='+u-inline-block') one-half 
  div(class='+u-one-whole  +u-bgc-info')
    p(class='+u-inline-block') 100%
    p(class='+u-inline-block') one-whole
h2.styleguide-title--sub Thirds
.styleguide-utilities.widths
  div(class='+u-one-third  +u-bgc-warning')              
    p(class='+u-inline-block') 33.333%
    p(class='+u-inline-block') one-third
  div(class='+u-two-thirds  +u-bgc-warning')
    p(class='+u-inline-block') 66.666%
    p(class='+u-inline-block') two-thirds
  div(class='+u-one-whole  +u-bgc-warning')
    p(class='+u-inline-block') 66.666%
    p(class='+u-inline-block') one-whole 
h2.styleguide-title--sub Quarters
.styleguide-utilities.widths
  div(class='+u-one-quarter  +u-bgc-danger')
    p(class='+u-inline-block') 25%
    p(class='+u-inline-block') one-quarters
  div(class='+u-two-quarters  +u-bgc-danger')
    p(class='+u-inline-block') 50%
    p(class='+u-inline-block') two-quarters
  div(class='+u-three-quarters  +u-bgc-danger')         
    p(class='+u-inline-block') 75%
    p(class='+u-inline-block') three-quarters
  div(class='+u-one-whole  +u-bgc-danger')         
    p(class='+u-inline-block') 100%
    p(class='+u-inline-block') one-whole
h2.styleguide-title--sub Fifths
.styleguide-utilities.widths
  div(class='+u-one-fifth  +u-bgc-error')              
    p(class='+u-inline-block') 20%
    p(class='+u-inline-block') one-fifths
  div(class='+u-two-fifths  +u-bgc-error')             
    p(class='+u-inline-block') 40%
    p(class='+u-inline-block') two-fifths
  div(class='+u-three-fifths  +u-bgc-error')           
    p(class='+u-inline-block') 60%
    p(class='+u-inline-block') three-fifths
  div(class='+u-four-fifths  +u-bgc-error')            
    p(class='+u-inline-block') 80%
    p(class='+u-inline-block') four-fifths
  div(class='+u-one-whole  +u-bgc-error')            
    p(class='+u-inline-block') 100%
    p(class='+u-inline-block') one-whole
h2.styleguide-title--sub Sixths
.styleguide-utilities.widths
  div(class='+u-one-sixth  +u-bgc-success')              
    p(class='+u-inline-block') 16.666%
    p(class='+u-inline-block') one-sixth
  div(class='+u-two-sixths  +u-bgc-success')   
    p(class='+u-inline-block') 33.333%
    p(class='+u-inline-block') two-sixths
  div(class='+u-three-sixths  +u-bgc-success')
    p(class='+u-inline-block') 50%
    p(class='+u-inline-block') three-sixths
  div(class='+u-four-sixths  +u-bgc-success')
    p(class='+u-inline-block') 66.666%
    p(class='+u-inline-block') four-sixths
  div(class='+u-one-whole  +u-bgc-success')  
    p(class='+u-inline-block') 83.333%          
    p(class='+u-inline-block') five-sixths
  div(class='+u-sixth-sixths  +u-bgc-success')
    p(class='+u-inline-block') 100%           
    p(class='+u-inline-block') one-whole
h2.styleguide-title--sub Eighths
.styleguide-utilities.widths
  div(class='+u-one-eighth  +u-bgc-warning')
    p(class='+u-inline-block') 12.5%
    p(class='+u-inline-block') one-eighth
  div(class='+u-two-eighths  +u-bgc-warning')
    p(class='+u-inline-block') 33.333%
    p(class='+u-inline-block') two-eighths
  div(class='+u-three-eighths  +u-bgc-warning')
    p(class='+u-inline-block') 37.5%
    p(class='+u-inline-block') three-eighths
  div(class='+u-four-eighths  +u-bgc-warning')
    p(class='+u-inline-block') 50%
    p(class='+u-inline-block') four-eighths
  div(class='+u-five-eighths  +u-bgc-warning')
    p(class='+u-inline-block') 62.5%
    p(class='+u-inline-block') five-eighths
  div(class='+u-six-eighths  +u-bgc-warning')
    p(class='+u-inline-block') 75%;
    p(class='+u-inline-block') six-eighths
  div(class='+u-seven-eighths  +u-bgc-warning')
    p(class='+u-inline-block') 87.5%
    p(class='+u-inline-block') six-eighths
  div(class='+u-one-whole  +u-bgc-warning')
    p(class='+u-inline-block') 100%
    p(class='+u-inline-block') one-whole
h2.styleguide-title--sub Tenths
.styleguide-utilities.widths
  div(class='+u-one-tenth  +u-bgc-danger')
    p(class='+u-inline-block') 10%
    p(class='+u-inline-block') one-tenth 
  div(class='+u-two-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 20%;
    p(class='+u-inline-block') two-tenths
  div(class='+u-three-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 30%;
    p(class='+u-inline-block') three-tenths
  div(class='+u-four-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 40%
    p(class='+u-inline-block') four-tenths
  div(class='+u-five-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 50%
    p(class='+u-inline-block') five-tenths 
  div(class='+u-six-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 60%
    p(class='+u-inline-block') six-tenths
  div(class='+u-seven-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 70%
    p(class='+u-inline-block') seven-tenths
  div(class='+u-eight-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 80%
    p(class='+u-inline-block') eight-tenths
  div(class='+u-nine-tenths  +u-bgc-danger')
    p(class='+u-inline-block') 90%
    p(class='+u-inline-block') nine-tenths
  div(class='+u-one-whole  +u-bgc-danger')
    p(class='+u-inline-block') 100%
    p(class='+u-inline-block') one-whole
h2.styleguide-title--sub Twelfths
.styleguide-utilities.widths
  div(class='+u-one-twelfth  +u-bgc-error')            
    p(class='+u-inline-block') 8.333%
    p(class='+u-inline-block') one-twelfth
  div(class='+u-two-twelfths  +u-bgc-error') 
    p(class='+u-inline-block') 16.666%
    p(class='+u-inline-block') two-twelfths
  div(class='+u-three-twelfths  +u-bgc-error')
    p(class='+u-inline-block') 25%
    p(class='+u-inline-block') three-twelfths
  div(class='+u-four-twelfths  +u-bgc-error')
    p(class='+u-inline-block') 33.333%
    p(class='+u-inline-block') four-twelfths
  div(class='+u-five-twelfths  +u-bgc-error')
    p(class='+u-inline-block') 41.666%
    p(class='+u-inline-block') five-twelfths
  div(class='+u-six-twelfths  +u-bgc-error') 
    p(class='+u-inline-block') 50%
    p(class='+u-inline-block') six-twelfths
  div(class='+u-seven-twelfths  +u-bgc-error')         
    p(class='+u-inline-block') 58.333%
    p(class='+u-inline-block') seven-twelfths
  div(class='+u-eight-twelfths  +u-bgc-error')
    p(class='+u-inline-block') 66.666%
    p(class='+u-inline-block') eight-twelfths
  div(class='+u-nine-twelfths  +u-bgc-error')
    p(class='+u-inline-block') 75%
    p(class='+u-inline-block') nine-twelfths
  div(class='+u-ten-twelfths  +u-bgc-error')
    p(class='+u-inline-block') 83.333%
    p(class='+u-inline-block') ten-twelfths
  div(class='+u-eleven-twelfths  +u-bgc-error')
    p(class='+u-inline-block') 91.666%
    p(class='+u-inline-block') eleven-twelfths
  div(class='+u-one-whole  +u-bgc-error')
    p(class='+u-inline-block') 100%
    p(class='+u-inline-block') one-whole
h1.styleguide-title Widths
div.styleguide-utilities.widths
h2.styleguide-title--sub 1/1 & 1/2
.styleguide-utilities.widths
  div(class='+u-1-1  +u-bgc-success')
    p(class='+u-inline-block') 1/1
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub Full Width Halves
.styleguide-utilities.widths
  div(class='+u-1-2  +u-bgc-info')
    p(class='+u-inline-block') 1/2
    p(class='+u-inline-block') 50%
h2.styleguide-title--sub 1/3
.styleguide-utilities.widths
  div(class='+u-1-3  +u-bgc-warning')              
    p(class='+u-inline-block') 1/3
    p(class='+u-inline-block') 33.333%
  div(class='+u-2-3  +u-bgc-warning')
    p(class='+u-inline-block') 2/3
    p(class='+u-inline-block') 66.666%
  div(class='+u-3-3  +u-bgc-danger')         
    p(class='+u-inline-block') 3/3
    p(class='+u-inline-block') 99.999%
h2.styleguide-title--sub 1/4
.styleguide-utilities.widths
  div(class='+u-1-4  +u-bgc-danger')
    p(class='+u-inline-block') 1/4
    p(class='+u-inline-block') 25%
  div(class='+u-2-4  +u-bgc-danger')
    p(class='+u-inline-block') 2/4
    p(class='+u-inline-block') 50%
  div(class='+u-3-4  +u-bgc-danger')         
    p(class='+u-inline-block') 3/4
    p(class='+u-inline-block') 75%
  div(class='+u-4-4  +u-bgc-danger')         
    p(class='+u-inline-block') 4/4
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/5
.styleguide-utilities.widths
  div(class='+u-1-5  +u-bgc-error')              
    p(class='+u-inline-block') 1/5
    p(class='+u-inline-block') 20%
  div(class='+u-2-5  +u-bgc-error')             
    p(class='+u-inline-block') 2/5
    p(class='+u-inline-block') 40%
  div(class='+u-3-5  +u-bgc-error')           
    p(class='+u-inline-block') 3/5
    p(class='+u-inline-block') 60%
  div(class='+u-4-5  +u-bgc-error')            
    p(class='+u-inline-block') 4/5
    p(class='+u-inline-block') 1/5
  div(class='+u-5-5  +u-bgc-error')            
    p(class='+u-inline-block') 5/5
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/6
.styleguide-utilities.widths
  div(class='+u-1-6  +u-bgc-success')              
    p(class='+u-inline-block') 1/6
    p(class='+u-inline-block') 16.666
  div(class='+u-2-6  +u-bgc-success')   
    p(class='+u-inline-block') 2/6
    p(class='+u-inline-block') 33.333%
  div(class='+u-3-6  +u-bgc-success')
    p(class='+u-inline-block') 3/6
    p(class='+u-inline-block') 50%
  div(class='+u-4-6  +u-bgc-success')
    p(class='+u-inline-block') 4/6
    p(class='+u-inline-block') 66.666%
  div(class='+u-5-6  +u-bgc-success')            
    p(class='+u-inline-block') 5/6
    p(class='+u-inline-block') 83.333%
  div(class='+u-6-6  +u-bgc-success')            
    p(class='+u-inline-block') 6/6
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/8
.styleguide-utilities.widths
  div(class='+u-1-8  +u-bgc-warning')
    p(class='+u-inline-block') 1/8
    p(class='+u-inline-block') 12.5%
  div(class='+u-2-8  +u-bgc-warning')
    p(class='+u-inline-block') 2/8
    p(class='+u-inline-block') 25%
  div(class='+u-3-8  +u-bgc-warning')
    p(class='+u-inline-block') 3/8
    p(class='+u-inline-block') 37.5%
  div(class='+u-4-8  +u-bgc-warning')
    p(class='+u-inline-block') 4/8
    p(class='+u-inline-block') 50%
  div(class='+u-5-8  +u-bgc-warning')
    p(class='+u-inline-block') 5/8
    p(class='+u-inline-block') 62.5%
  div(class='+u-6-8  +u-bgc-warning')
    p(class='+u-inline-block') 6/8
    p(class='+u-inline-block') 75%
  div(class='+u-7-8  +u-bgc-warning')
    p(class='+u-inline-block') 7/8
    p(class='+u-inline-block') 87.5%
  div(class='+u-8-8  +u-bgc-success')            
    p(class='+u-inline-block') 8/8
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/10
.styleguide-utilities.widths
  div(class='+u-1-10  +u-bgc-danger')
    p(class='+u-inline-block') 1/10
    p(class='+u-inline-block') 10%
  div(class='+u-2-10  +u-bgc-danger')
    p(class='+u-inline-block') 2/10
    p(class='+u-inline-block') 20%
  div(class='+u-3-10  +u-bgc-danger')
    p(class='+u-inline-block') 3/10
    p(class='+u-inline-block') 30%
  div(class='+u-4-10  +u-bgc-danger')
    p(class='+u-inline-block') 4/10
    p(class='+u-inline-block') 40%
  div(class='+u-5-10  +u-bgc-danger')
    p(class='+u-inline-block') 5/10
    p(class='+u-inline-block') 50%
  div(class='+u-6-10  +u-bgc-danger')
    p(class='+u-inline-block') 6/10
    p(class='+u-inline-block') 60%
  div(class='+u-7-10  +u-bgc-danger')
    p(class='+u-inline-block') 7/10
    p(class='+u-inline-block') 70%
  div(class='+u-8-10  +u-bgc-danger')
    p(class='+u-inline-block') 8/10
    p(class='+u-inline-block') 80%
  div(class='+u-9-10  +u-bgc-danger')
    p(class='+u-inline-block') 9/10
    p(class='+u-inline-block') 90%
  div(class='+u-10-10  +u-bgc-success')            
    p(class='+u-inline-block') 10/10
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/12
.styleguide-utilities.widths
  div(class='+u-1-12  +u-bgc-error')            
    p(class='+u-inline-block') 1/12
    p(class='+u-inline-block') 8.333
  div(class='+u-2-12  +u-bgc-error') 
    p(class='+u-inline-block') 2/12
    p(class='+u-inline-block') 16.666%
  div(class='+u-3-12  +u-bgc-error')
    p(class='+u-inline-block') 3/12
    p(class='+u-inline-block') 25%
  div(class='+u-4-12  +u-bgc-error')
    p(class='+u-inline-block') 4/12
    p(class='+u-inline-block') 33.333%
  div(class='+u-5-12  +u-bgc-error')
    p(class='+u-inline-block') 5/12
    p(class='+u-inline-block') 41.666
  div(class='+u-6-12  +u-bgc-error') 
    p(class='+u-inline-block') 6/12
    p(class='+u-inline-block') 50%
  div(class='+u-7-12  +u-bgc-error')         
    p(class='+u-inline-block') 7/12
    p(class='+u-inline-block') 58.33
  div(class='+u-8-12  +u-bgc-error')
    p(class='+u-inline-block') 8/12
    p(class='+u-inline-block') 66.666%
  div(class='+u-9-12  +u-bgc-error')
    p(class='+u-inline-block') 9/12
    p(class='+u-inline-block') 75%
  div(class='+u-10-12  +u-bgc-error')
    p(class='+u-inline-block') 10/12
    p(class='+u-inline-block') 83.333%
  div(class='+u-11-12  +u-bgc-error')
    p(class='+u-inline-block') 11/12
    p(class='+u-inline-block') 91.666%
  div(class='+u-12-12  +u-bgc-error')
    p(class='+u-inline-block') 12/12
    p(class='+u-inline-block') 100%
h1.styleguide-title Widths New Here
.styleguide-utilities.widths
h2.styleguide-title--sub 0
.styleguide-utilities.widths
  div(class='+u-w-0  +u-bgc-success')
    p(class='+u-inline-block') 0
    p(class='+u-inline-block') 0%
h2.styleguide-title--sub 1/1 & 1/2
.styleguide-utilities.widths
  div(class='+u-w-1/1  +u-bgc-success')
    p(class='+u-inline-block') 1/1
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub Full Width Halves
.styleguide-utilities.widths
  div(class='+u-w-1/2  +u-bgc-info')
    p(class='+u-inline-block') 1/2
    p(class='+u-inline-block') 50%
h2.styleguide-title--sub 1/3
.styleguide-utilities.widths
  div(class='+u-w-1/3  +u-bgc-warning')              
    p(class='+u-inline-block') 1/3
    p(class='+u-inline-block') 33.333%
  div(class='+u-w-2/3  +u-bgc-warning')
    p(class='+u-inline-block') 2/3
    p(class='+u-inline-block') 66.666%
  div(class='+u-w-3/3  +u-bgc-danger')         
    p(class='+u-inline-block') 3/3
    p(class='+u-inline-block') 99.999%
h2.styleguide-title--sub 1/4
.styleguide-utilities.widths
  div(class='+u-w-1/4  +u-bgc-danger')
    p(class='+u-inline-block') 1/4
    p(class='+u-inline-block') 25%
  div(class='+u-w-2/4  +u-bgc-danger')
    p(class='+u-inline-block') 2/4
    p(class='+u-inline-block') 50%
  div(class='+u-w-3/4  +u-bgc-danger')         
    p(class='+u-inline-block') 3/4
    p(class='+u-inline-block') 75%
  div(class='+u-w-4/4  +u-bgc-danger')         
    p(class='+u-inline-block') 4/4
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/5
.styleguide-utilities.widths
  div(class='+u-w-1/5  +u-bgc-error')              
    p(class='+u-inline-block') 1/5
    p(class='+u-inline-block') 20%
  div(class='+u-w-2/5  +u-bgc-error')             
    p(class='+u-inline-block') 2/5
    p(class='+u-inline-block') 40%
  div(class='+u-w-3/5  +u-bgc-error')           
    p(class='+u-inline-block') 3/5
    p(class='+u-inline-block') 60%
  div(class='+u-w-4/5  +u-bgc-error')            
    p(class='+u-inline-block') 4/5
    p(class='+u-inline-block') 1/5
  div(class='+u-w-5/5  +u-bgc-error')            
    p(class='+u-inline-block') 5/5
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/6
.styleguide-utilities.widths
  div(class='+u-w-1\/6  +u-bgc-success')              
    p(class='+u-inline-block') 1/6
    p(class='+u-inline-block') 16.666
  div(class='+u-w-2\/6  +u-bgc-success')   
    p(class='+u-inline-block') 2/6
    p(class='+u-inline-block') 33.333%
  div(class='+u-w-3\/6  +u-bgc-success')
    p(class='+u-inline-block') 3/6
    p(class='+u-inline-block') 50%
  div(class='+u-w-4\/6  +u-bgc-success')
    p(class='+u-inline-block') 4/6
    p(class='+u-inline-block') 66.666%
  div(class='+u-w-5\/6  +u-bgc-success')            
    p(class='+u-inline-block') 5/6
    p(class='+u-inline-block') 83.333%
  div(class='+u-w-6\/6  +u-bgc-success')            
    p(class='+u-inline-block') 6/6
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/8
.styleguide-utilities.widths
  div(class='+u-w-1/8  +u-bgc-warning')
    p(class='+u-inline-block') 1/8
    p(class='+u-inline-block') 12.5%
  div(class='+u-w-2/8  +u-bgc-warning')
    p(class='+u-inline-block') 2/8
    p(class='+u-inline-block') 25%
  div(class='+u-w-3/8  +u-bgc-warning')
    p(class='+u-inline-block') 3/8
    p(class='+u-inline-block') 37.5%
  div(class='+u-w-4/8  +u-bgc-warning')
    p(class='+u-inline-block') 4/8
    p(class='+u-inline-block') 50%
  div(class='+u-w-5/8  +u-bgc-warning')
    p(class='+u-inline-block') 5/8
    p(class='+u-inline-block') 62.5%
  div(class='+u-w-6/8  +u-bgc-warning')
    p(class='+u-inline-block') 6/8
    p(class='+u-inline-block') 75%
  div(class='+u-w-7/8  +u-bgc-warning')
    p(class='+u-inline-block') 7/8
    p(class='+u-inline-block') 87.5%
  div(class='+u-w-8/8  +u-bgc-success')            
    p(class='+u-inline-block') 8/8
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/10
.styleguide-utilities.widths
  div(class='+u-w-1/10  +u-bgc-danger')
    p(class='+u-inline-block') 1/10
    p(class='+u-inline-block') 10%
  div(class='+u-w-2/10  +u-bgc-danger')
    p(class='+u-inline-block') 2/10
    p(class='+u-inline-block') 20%
  div(class='+u-w-3/10  +u-bgc-danger')
    p(class='+u-inline-block') 3/10
    p(class='+u-inline-block') 30%
  div(class='+u-w-4/10  +u-bgc-danger')
    p(class='+u-inline-block') 4/10
    p(class='+u-inline-block') 40%
  div(class='+u-w-5/10  +u-bgc-danger')
    p(class='+u-inline-block') 5/10
    p(class='+u-inline-block') 50%
  div(class='+u-w-6/10  +u-bgc-danger')
    p(class='+u-inline-block') 6/10
    p(class='+u-inline-block') 60%
  div(class='+u-w-7/10  +u-bgc-danger')
    p(class='+u-inline-block') 7/10
    p(class='+u-inline-block') 70%
  div(class='+u-w-8/10  +u-bgc-danger')
    p(class='+u-inline-block') 8/10
    p(class='+u-inline-block') 80%
  div(class='+u-w-9/10  +u-bgc-danger')
    p(class='+u-inline-block') 9/10
    p(class='+u-inline-block') 90%
  div(class='+u-w-10/10  +u-bgc-success')            
    p(class='+u-inline-block') 10/10
    p(class='+u-inline-block') 100%
h2.styleguide-title--sub 1/12 New
.styleguide-utilities.widths
  div(class='+u-w-1/12  +u-bgc-error')            
    p(class='+u-inline-block') 1/12
    p(class='+u-inline-block') 8.333
  div(class='+u-w-2/12  +u-bgc-error') 
    p(class='+u-inline-block') 2/12
    p(class='+u-inline-block') 16.666%
  div(class='+u-w-3/12  +u-bgc-error')
    p(class='+u-inline-block') 3/12
    p(class='+u-inline-block') 25%
  div(class='+u-w-4/12  +u-bgc-error')
    p(class='+u-inline-block') 4/12
    p(class='+u-inline-block') 33.333%
  div(class='+u-w-5/12  +u-bgc-error')
    p(class='+u-inline-block') 5/12
    p(class='+u-inline-block') 41.666
  div(class='+u-w-6/12  +u-bgc-error') 
    p(class='+u-inline-block') 6/12
    p(class='+u-inline-block') 50%
  div(class='+u-w-7/12  +u-bgc-error')         
    p(class='+u-inline-block') 7/12
    p(class='+u-inline-block') 58.33
  div(class='+u-w-8/12  +u-bgc-error')
    p(class='+u-inline-block') 8/12
    p(class='+u-inline-block') 66.666%
  div(class='+u-w-9/12  +u-bgc-error')
    p(class='+u-inline-block') 9/12
    p(class='+u-inline-block') 75%
  div(class='+u-w-10/12  +u-bgc-error')
    p(class='+u-inline-block') 10/12
    p(class='+u-inline-block') 83.333%
  div(class='+u-w-11/12  +u-bgc-error')
    p(class='+u-inline-block') 11/12
    p(class='+u-inline-block') 91.666%
  div(class='+u-w-12/12  +u-bgc-error')
    p(class='+u-inline-block') 12/12
    p(class='+u-inline-block') 100%