/* ==========================================================================
   Config - Margins
   ========================================================================== */
  
  $space: em(16);

  $space-sixth: $space / 6;
  $space-fifth: $space / 5;
  $space-quarter: $space / 4;
  $space-third: $space / 3;
  $space-half: $space / 2;

  $space-1-half: $space * 1.5;
  $space-2: $space * 2;
  $space-3: $space * 3;
  $space-4: $space * 4;
  $space-5: $space * 5;
  $space-6: $space * 6;