/* ==========================================================================
   Config - Margins
   ========================================================================== */
  
  $space: em(16)!default;

  $space-6th: $space / 6!default;
  $space-5th: $space / 5!default;
  $space-4th: $space / 4!default;
  $space-3rd: $space / 3!default;
  $space-half: $space / 2!default;
  $space-1-half: $space * 1.5!default;
  $space-2: $space * 2!default;
  $space-3: $space * 3!default;
  $space-4: $space * 4!default;
  $space-5: $space * 5!default;
  $space-6: $space * 6!default;