doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Core 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1') 

    //- Uncomment and use metaquery insteat of breakpoint?
    //- meta(name="breakpoint", content="phone", media="(max-width: 480px)")  
    //- meta(name="breakpoint", content="small-tablet", media="(min-width: 480px) and (max-width: 600px)")  
    //- meta(name="breakpoint", content="tablet", media="(min-width: 600px) and (max-width: 1024px)")  
    //- meta(name="breakpoint", content="widescreen", media="(min-width: 1024px)")  
    //- meta(name="breakpoint", content="retina", media="only screen and (-webkit-min-device-pixel-ratio : 2)")
    
    //- script(src="../components-bower/metaquery/metaquery.min.js")
    //- inline metaquery
    //- script
      include ../components-bower/metaquery/metaquery.min.js

    //- Add to homescreen for Chrome on Android
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="icon", sizes="192x192", href="assets/images/touch/chrome-touch-icon-192x192.png")
    
    //- Add to homescreen for Safari on iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="Core CSS")
    link(rel="apple-touch-icon", href="assets/images/touch/apple-touch-icon.png")
    
    //- Tile icon for Win8 (144x144 + tile color)
    meta(name="msapplication-TileImage", content="assets/images/touch/ms-touch-icon-144x144-precomposed.png")
    meta(name="msapplication-TileColor", content="#3372DF")
    meta(name="theme-color", content="#3372DF")

    //- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
    //- <link rel="canonical" href="http://www.example.com/">
      
    link(type='text/css', rel='stylesheet', href='assets/css/main.css')
  body
    p 404 
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')        
    script.
      window.jQuery || document.write('<script src=""><\\/script>')
    script(src='assets/scripts/scripts.min.js')
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');