/* 
  css:
  ------
  .class-name{
    @include center-content;
    width: {needed};
  }

*/
/* ==========================================================================
   Global Variables
   ========================================================================== */
/* ==========================================================================
   Config - Media Queries 
   ========================================================================== */
/* ==========================================================================
   Config - Colours
   ========================================================================== */
/* ==========================================================================
   Config - Type
   ========================================================================== */
/* ==========================================================================
   Config - Layout
   ========================================================================== */
/* ==========================================================================
   Config - Margins
   ========================================================================== */
/* ==========================================================================
   Config - Rounded
   ========================================================================== */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
   Globals - Reset
   ========================================================================== */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
form, fieldset, legend,
table, th, td, caption,
hr, figure {
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Base - Imports
   
    .eot');                                                // IE9 Compat Modes
    .eot?#iefix') format('embedded-opentype'),             // IE6-IE8   
    .woff2') format('woff2'),                              // http://goo.gl/ldoFk2
    .woff') format('woff'),                                // Modern Browsers 
    .ttf') format('truetype'),                             // Safari, Android, iOS
    .svg#name-of-font') format('svg');                     // Legacy iOS

   ========================================================================== */
@font-face {
  font-family: "source-sans-pro";
  src: url("../../assets/fonts/source-sans-pro/source-sans-pro-regular.eot");
  src: url("../../assets/fonts/source-sans-pro/source-sans-pro-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/source-sans-pro/source-sans-pro-regular.woff2") format("woff2"), url("../../assets/fonts/source-sans-pro/source-sans-pro-regular.woff") format("woff"), url("../../assets/fonts/source-sans-pro/source-sans-pro-regular.ttf") format("truetype"), url("../../assets/fonts/source-sans-pro/source-sans-pro-regular.svg#s{$type-name}") format("svg");
  font-weight: 400;
  font-style: normal; }
/* ==========================================================================
   Base - Links
   ========================================================================== */
a {
  vertical-align: baseline;
  font-size: 100%;
  -webkit-transition: color .25s;
          transition: color .25s; }
  a, a:hover {
    color: #2046df;
    text-decoration: none; }
  a:hover {
    color: #ec1831; }
  a:active {
    -webkit-transition: none;
            transition: none;
    color: #ff001e;
    text-decoration: underline; }
  a:visited {
    color: #d01fe0;
    -webkit-transition: none;
            transition: none;
    text-decoration: none; }

/* ==========================================================================
   Base - Lists
   ========================================================================== */
ul, ol, dl {
  margin-bottom: 1em; }

ul, ol, dd {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 1.5em; }

dl {
  margin-top: 0; }

dd {
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

/* ==========================================================================
   Base - Media
   ========================================================================== */
img {
  display: block;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic; }

img, video, object {
  max-width: 100%;
  height: auto; }

figure {
  margin-bottom: 1em; }

/* ==========================================================================
   Base - Root
   ========================================================================== */
html {
  overflow-y: scroll;
  min-height: 100%;
  word-wrap: break-word;
  font: 1em/1.45 "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  min-height: 100%;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  color: #2c2c2c; }

::-moz-selection {
  background-color: rgba(240, 233, 89, 0.9);
  color: #161616; }

::selection {
  background-color: rgba(240, 233, 89, 0.9);
  color: #161616; }

/* ==========================================================================
   Base - Text
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #2c2c2c;
  margin-bottom: 1em; }

p {
  margin-bottom: 1em; }

address {
  font-style: normal; }

small {
  font-size: 0.875em; }

sup {
  top: -0.25em; }

sub {
  bottom: -0.25em; }

ins, u {
  border-bottom: 1px solid;
  text-decoration: none; }

abbr[title],
dfn[title] {
  cursor: help; }

/* ==========================================================================
   Object - Flag
   ========================================================================== */
.o-flag {
  display: table; }
  .o-flag__body {
    display: table-cell;
    vertical-align: middle; }
  .o-flag__image {
    padding-right: 2em;
    display: table-cell;
    vertical-align: middle; }
    .o-flag__image > img {
      display: block;
      max-width: none; }
  .o-flag.\--rev .o-flag__image {
    padding-right: 0;
    padding-left: 2em; }

/* ==========================================================================
   Object - Images / Figure
   ========================================================================== */
.o-img.\--circle {
  border-radius: 50%; }
.o-img.\--right {
  float: right; }
.o-img.\--left {
  float: left; }
.o-img.\--center {
  margin-right: auto;
  margin-left: auto; }
.o-img.\--full {
  width: 100%; }

/* ==========================================================================
   Modules - Social Gallery
   ========================================================================== */
.o-social-gallery__item {
  width: 12.5%;
  vertical-align: bottom; }
  .o-social-gallery__item a {
    display: block;
    padding: 25%; }
    .o-social-gallery__item a img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      vertical-align: middle; }
  .o-social-gallery__item.wordpress a {
    background-color: #07a0ca; }
  .o-social-gallery__item.tumblr a {
    background-color: #375474; }
  .o-social-gallery__item.blogger a {
    background-color: #f28020; }
  .o-social-gallery__item.squarespace a {
    background-color: #333333; }
  .o-social-gallery__item.joomla a {
    background-color: #5e5e5e; }
  .o-social-gallery__item.drupal a {
    background-color: #0d8bc7; }
  .o-social-gallery__item.typepad a {
    background-color: #629841; }
  .o-social-gallery__item.expression-engine a {
    background-color: #5c81a5; }
  .o-social-gallery__item.kirby a {
    background-color: #ff0400; }
  .o-social-gallery__item.moveabletype a {
    background-color: #9cbaca; }
  .o-social-gallery__item.disqus a {
    background-color: #2e9fff; }
  .o-social-gallery__item.html a {
    background-color: #ed3e35; }
  .o-social-gallery__item.behance a {
    background-color: #1478ff; }
  .o-social-gallery__item.instagram a {
    background-color: #517fa4; }
  .o-social-gallery__item.gimmebar a {
    background-color: #df3d6b; }
  .o-social-gallery__item.twitter a {
    background-color: #00aced; }
  .o-social-gallery__item.dribble a {
    background-color: #ff3399; }
  .o-social-gallery__item.github a {
    background-color: #575757; }
  .o-social-gallery__item.linkedin a {
    background-color: #007bb6; }
  .o-social-gallery__item.google a {
    background-color: #d34836; }
  .o-social-gallery__item.youtube a {
    background-color: #bb0000; }
  .o-social-gallery__item.vine a {
    background-color: #00bf8f; }
  .o-social-gallery__item.kickstarter a {
    background-color: #7dbe4b; }
  .o-social-gallery__item.dropbox a {
    background-color: #007ee6; }
  .o-social-gallery__item.rss a {
    background-color: #eb7f38; }
  .o-social-gallery__item.foursquare a {
    background-color: #2da0c7; }
  .o-social-gallery__item.soundcloud a {
    background-color: #f7a132; }
  .o-social-gallery__item.facebook a {
    background-color: #007ee6; }
  .o-social-gallery__item.codepen a {
    background-color: #434346; }

/* ==========================================================================
   Site Custom Adds
   
   example:

    @include add(add-site-border) { 
      border-bottom: 2px solid red;
    }

    .+add-site-border

   ========================================================================== */
/* ==========================================================================
   Site Root
   ========================================================================== */
html {
  border: 10px solid #979fa3; }

body {
  padding-top: 2em; }

html, body {
  height: 100%; }

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  text-align: center;
  height: 100%; }
  .l-container__inner {
    height: 100%; }
    .l-container__inner img {
      width: 200px; }
    .l-container__inner h1 {
      padding-left: 20%;
      padding-right: 20%;
      font-size: 1.625em;
      font-weight: 400;
      text-transform: uppercase;
      font-family: 'source sans pro';
      color: #cbcbcb; }

.s-logo {
  border: 3px solid #e0e0e0; }

.o-social-gallery {
  margin-top: 4em; }
  .o-social-gallery__item {
    display: inline-block;
    width: 10%;
    margin: 2.5%; }
    .o-social-gallery__item a {
      -webkit-transition: all 0.1s;
              transition: all 0.1s; }
      .o-social-gallery__item a:hover {
        -webkit-transform: scale(1.25);
            -ms-transform: scale(1.25);
                transform: scale(1.25);
        -webkit-transition: all 0.08s;
                transition: all 0.08s;
        background-color: red; }
    .o-social-gallery__item.instagram a {
      background-color: #ecac24; }
    .o-social-gallery__item.gimmebar a {
      background-color: #f06d54; }
    .o-social-gallery__item.twitter a {
      background-color: #03a7ff; }
    .o-social-gallery__item.github a {
      background-color: #1ba54c; }
    .o-social-gallery__item.dribble a {
      background-color: #eb1d5d; }

/* ==========================================================================
   Site Styleguide
   ========================================================================== */
/* ==========================================================================
   Utilities - Displays
   ========================================================================== */
.\+u-block {
  display: block; }

.\+u-inline {
  display: inline; }

.\+u-inline-block {
  display: inline-block; }

.\+u-table {
  display: table; }

.\+u-table-cell {
  display: table-cell; }

.\+u-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* ==========================================================================
   Utilities - Silent Extends
   
   @include extend makes class into extend: @extend %e-three-quarters;
   
   ========================================================================== */
.o-flag, .o-flag__body {
  width: 100%; }

/* ==========================================================================
   Utilities Text
   ========================================================================== */
.\+u-font-massive {
  font-size: 6em; }

.\+u-font-huge {
  font-size: 4.5em; }

.\+u-font-large {
  font-size: 3.375em; }

.\+u-h1x {
  font-size: 6em; }

.\+u-h2x {
  font-size: 5.25em; }

.\+u-h3x {
  font-size: 4.5em; }

.\+u-h4x {
  font-size: 3.75em; }

.\+u-h5x {
  font-size: 3.375em; }

.\+u-h6x {
  font-size: 3em; }

.\+u-h1 {
  font-size: 2em; }

.\+u-h2 {
  font-size: 1.625em; }

.\+u-h3 {
  font-size: 1.375em; }

.\+u-h4 {
  font-size: 1.25em; }

.\+u-h5 {
  font-size: 1.125em; }

.\+u-h6 {
  font-size: 1em; }

.\+u-font-base {
  font-size: 1em; }

.\+u-font-lead {
  font-size: 1.125em; }

.\+u-font-half {
  font-size: 0.5em; }

.\+u-font-small {
  font-size: 0.875em; }

.\+u-font-tiny {
  font-size: 0.75em; }

.\+u-font-micro {
  font-size: 0.625em; }

.\+u-h7 {
  font-size: 0.875em; }

.\+u-h8 {
  font-size: 0.75em; }

.\+u-h9 {
  font-size: 0.625em; }

.\+u-h10 {
  font-size: 0.5em; }

.\+u-font-normal {
  font-weight: normal; }

.\+u-font-bold {
  font-weight: bold; }

.\+u-font-lighter {
  font-weight: lighter; }

.\+u-font-bolder {
  font-weight: bolder; }

.\+u-font-100 {
  font-weight: 100; }

.\+u-font-200 {
  font-weight: 200; }

.\+u-font-300 {
  font-weight: 300; }

.\+u-font-400 {
  font-weight: 400; }

.\+u-font-500 {
  font-weight: 500; }

.\+u-font-600 {
  font-weight: 600; }

.\+u-font-700 {
  font-weight: 700; }

.\+u-font-800 {
  font-weight: 800; }

.\+u-font-900 {
  font-weight: 900; }

.\+u-font-normal {
  font-style: normal; }

.\+u-font-italic {
  font-style: italic; }

.\+u-font-oblique {
  font-style: oblique; }

/*==========================================================================
  Utilities - Mixins
  ========================================================================== */
.\+u-clearfix:before, .\+u-clearfix:after {
  content: "";
  display: table; }
.\+u-clearfix:after {
  clear: both; }

.\+u-center-content {
  margin-left: auto;
  margin-right: auto; }

.\+u-vertical-align-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.\+u-vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.\+u-vertical-align-table {
  display: table;
  border-collapse: collapse;
  width: 100%; }
  .\+u-vertical-align-table__inner {
    display: table-cell;
    vertical-align: middle; }

.\+u-unstyled {
  padding-left: 0; }
  .\+u-unstyled li {
    list-style: none; }
  .\+u-unstyled dd {
    margin-left: 0; }

.\+u-margin-bottom {
  margin-bottom: 1em; }

.\+u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* ==========================================================================
   Utilities Rounded
   ========================================================================== */
.\+u-round {
  border-radius: 100%; }

.\+u-rounded {
  border-radius: 3px; }

.\+u-rounded-t {
  border-radius: 3px 3px 0 0; }

.\+u-rounded-tr {
  border-radius: 0 3px 0 0; }

.\+u-roundde-tl {
  border-radius: 3px 0 0 0; }

.\+u-rounded-b {
  border-radius: 0 0 3px 3px; }

.\+u-rounded-br {
  border-radius: 0 0 3px 0; }

.\+u-rounded-bl {
  border-radius: 0 0 0 3px; }

.\+u-rounded-l {
  border-radius: 3px 0 0 3px; }

.\+u-rounded-r {
  border-radius: 0 3px 3px 0; }

.\+u-reset-rounded {
  border-radius: 0; }

/* ==========================================================================
   Utilities - Spaces
   ========================================================================== */
.\+u-mt-sixth {
  margin-top: 0.1666666667em !important; }

.\+u-mr-sixth {
  margin-right: 0.1666666667em !important; }

.\+u-mb-sixth {
  margin-bottom: 0.1666666667em !important; }

.\+u-ml-sixth {
  margin-left: 0.1666666667em !important; }

.\+u-mt-fifth {
  margin-top: 0.2em !important; }

.\+u-mr-fifth {
  margin-right: 0.2em !important; }

.\+u-mb-fifth {
  margin-bottom: 0.2em !important; }

.\+u-ml-fifth {
  margin-left: 0.2em !important; }

.\+u-mt-quarter {
  margin-top: 0.25em !important; }

.\+u-mr-quarter {
  margin-right: 0.25em !important; }

.\+u-mb-quarter {
  margin-bottom: 0.25em !important; }

.\+u-ml-quarter {
  margin-left: 0.25em !important; }

.\+u-mt-third {
  margin-top: 0.3333333333em !important; }

.\+u-mr-third {
  margin-right: 0.3333333333em !important; }

.\+u-mb-third {
  margin-bottom: 0.3333333333em !important; }

.\+u-ml-third {
  margin-left: 0.3333333333em !important; }

.\+u-mt-half {
  margin-top: 0.5em !important; }

.\+u-mr-half {
  margin-right: 0.5em !important; }

.\+u-mb-half {
  margin-bottom: 0.5em !important; }

.\+u-ml-half {
  margin-left: 0.5em !important; }

.\+u-mt {
  margin-top: 1em !important; }

.\+u-mr {
  margin-right: 1em !important; }

.\+u-mb {
  margin-bottom: 1em !important; }

.\+u-ml {
  margin-left: 1em !important; }

.\+u-mt-1-half {
  margin-top: 1.5em !important; }

.\+u-mr-1-half {
  margin-right: 1.5em !important; }

.\+u-mb-1-half {
  margin-bottom: 1.5em !important; }

.\+u-ml-1-half {
  margin-left: 1.5em !important; }

.\+u-mt-2 {
  margin-top: 2em !important; }

.\+u-mr-2 {
  margin-right: 2em !important; }

.\+u-mb-2 {
  margin-bottom: 2em !important; }

.\+u-ml-2 {
  margin-left: 2em !important; }

.\+u-mt-3 {
  margin-top: 3em !important; }

.\+u-mr-3 {
  margin-right: 3em !important; }

.\+u-mb-3 {
  margin-bottom: 3em !important; }

.\+u-ml-3 {
  margin-left: 3em !important; }

.\+u-mt-4 {
  margin-top: 4em !important; }

.\+u-mr-4 {
  margin-right: 4em !important; }

.\+u-mb-4 {
  margin-bottom: 4em !important; }

.\+u-ml-4 {
  margin-left: 4em !important; }

.\+u-mt-5 {
  margin-top: 5em !important; }

.\+u-mr-5 {
  margin-right: 5em !important; }

.\+u-mb-5 {
  margin-bottom: 5em !important; }

.\+u-ml-5 {
  margin-left: 5em !important; }

.\+u-mt-6 {
  margin-top: 6em !important; }

.\+u-mr-6 {
  margin-right: 6em !important; }

.\+u-mb-6 {
  margin-bottom: 6em !important; }

.\+u-ml-6 {
  margin-left: 6em !important; }

.\+u-pt-sixth {
  padding-top: 0.1666666667em !important; }

.\+u-pr-sixth {
  padding-right: 0.1666666667em !important; }

.\+u-pb-sixth {
  padding-bottom: 0.1666666667em !important; }

.\+u-pl-sixth {
  padding-left: 0.1666666667em !important; }

.\+u-pt-fifth {
  padding-top: 0.2em !important; }

.\+u-pr-fifth {
  padding-right: 0.2em !important; }

.\+u-pb-fifth {
  padding-bottom: 0.2em !important; }

.\+u-pl-fifth {
  padding-left: 0.2em !important; }

.\+u-pt-quarter {
  padding-top: 0.25em !important; }

.\+u-pr-quarter {
  padding-right: 0.25em !important; }

.\+u-pb-quarter {
  padding-bottom: 0.25em !important; }

.\+u-pl-quarter {
  padding-left: 0.25em !important; }

.\+u-pt-third {
  padding-top: 0.3333333333em !important; }

.\+u-pr-third {
  padding-right: 0.3333333333em !important; }

.\+u-pb-third {
  padding-bottom: 0.3333333333em !important; }

.\+u-pl-third {
  padding-left: 0.3333333333em !important; }

.\+u-pt-half {
  padding-top: 0.5em !important; }

.\+u-pr-half {
  padding-right: 0.5em !important; }

.\+u-pb-half {
  padding-bottom: 0.5em !important; }

.\+u-pl-half {
  padding-left: 0.5em !important; }

.\+u-pt {
  padding-top: 1em !important; }

.\+u-pr {
  padding-right: 1em !important; }

.\+u-pb {
  padding-bottom: 1em !important; }

.\+u-pl {
  padding-left: 1em !important; }

.\+u-pt-1-half {
  padding-top: 1.5em !important; }

.\+u-pr-1-half {
  padding-right: 1.5em !important; }

.\+u-pb-1-half {
  padding-bottom: 1.5em !important; }

.\+u-pl-1-half {
  padding-left: 1.5em !important; }

.\+u-pt-2 {
  padding-top: 2em !important; }

.\+u-pr-2 {
  padding-right: 2em !important; }

.\+u-pb-2 {
  padding-bottom: 2em !important; }

.\+u-pl-2 {
  padding-left: 2em !important; }

.\+u-pt-3 {
  padding-top: 3em !important; }

.\+u-pr-3 {
  padding-right: 3em !important; }

.\+u-pb-3 {
  padding-bottom: 3em !important; }

.\+u-pl-3 {
  padding-left: 3em !important; }

.\+u-pt-4 {
  padding-top: 4em !important; }

.\+u-pr-4 {
  padding-right: 4em !important; }

.\+u-pb-4 {
  padding-bottom: 4em !important; }

.\+u-pl-4 {
  padding-left: 4em !important; }

.\+u-pt-5 {
  padding-top: 5em !important; }

.\+u-pr-5 {
  padding-right: 5em !important; }

.\+u-pb-5 {
  padding-bottom: 5em !important; }

.\+u-pl-5 {
  padding-left: 5em !important; }

.\+u-pt-6 {
  padding-top: 6em !important; }

.\+u-pr-6 {
  padding-right: 6em !important; }

.\+u-pb-6 {
  padding-bottom: 6em !important; }

.\+u-pl-6 {
  padding-left: 6em !important; }

/* ==========================================================================
   Utilities Text
   ========================================================================== */
.\+u-text-underline {
  text-decoration: underline; }

.\+u-text-lower {
  text-transform: lowercase; }

.\+u-text-upper {
  text-transform: uppercase; }

.\+u-text-caps {
  text-transform: capitalize; }

.\+u-text-left {
  text-align: left; }

.\+u-text-right {
  text-align: right; }

.\+u-text-center {
  text-align: center; }

.\+u-text-justify {
  text-align: justify; }
