/* 
  css:
  ------
  .class-name{
    @include center-content;
    width: {needed};
  }

*/
/* ==========================================================================
   Global Variables
   ========================================================================== */
/* ==========================================================================
  Config - Media Queries

  Default BREAKPOINT variables for reference:

  $breakpoint-default-feature:    'min-width'     !default;
  $breakpoint-default-media:      'all'           !default;
  $breakpoint-force-media-all:    false           !default;
  $breakpoint-default-pair:       'width'         !default;
  $breakpoint-to-ems:             false           !default;
  $breakpoint-prefixes:           'webkit' 'moz'  !default;
  $breakpoint-prefixed-queries:   'device-pixel-ratio' 
                                  'min-device-pixel-ratio' 
                                  'max-device-pixel-ratio' !default;
  $breakpoint-no-queries:         false           !default;
  $breakpoint-no-query-wrappers:  false           !default;
  
  ==========================================================================*/
/* ==========================================================================
   Config - Colours
  
    1. custom
    2. backgrounds
    3. selection
    4. links
    5. headings
    6. type
    8. objects
     8.1 buttons
     8.2 hamburger
     8.3 notify
     8.4 form
     8.5 code
    8. form
    9. code
    10. links
    11. brands

   ========================================================================== */
/* ==========================================================================
   Config - Type
   ========================================================================== */
/* ==========================================================================
   Config - Layout

   Default SUSY settings for reference:

   $susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 4,
    gutters: .25,
    column-width: false,
    global-box-sizing: content-box,
    last-flow: to,
    debug: (
      image: hide,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    ),
    use-custom: (
      background-image: true,
      background-options: false,
      box-sizing: true,
      clearfix: false,
      rem: true,
    )
   );

   ========================================================================== */
/* ==========================================================================
   Config - Rounded
   ========================================================================== */
/* ==========================================================================
   Config - Margins
   ========================================================================== */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
   Globals - Reset // use with base styles
   ========================================================================== */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
form, fieldset, legend,
table, th, td, caption,
hr, figure {
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Base - Imports
   
    .eot');                                                // IE9 Compat Modes
    .eot?#iefix') format('embedded-opentype'),             // IE6-IE8   
    .woff2') format('woff2'),                              // http://goo.gl/ldoFk2
    .woff') format('woff'),                                // Modern Browsers 
    .ttf') format('truetype'),                             // Safari, Android, iOS
    .svgname-of-id-inside-svg-file') format('svg');     // Legacy iOS
    .otf ??
    
    Why the # in .svg# ?
    - http://goo.gl/6N8p7y

   ========================================================================== */
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.eot");
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.otf.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.otf") format("opentype"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.svg#source_sans_proregular") format("svg"); }
/* ==========================================================================
   Base - Links
   ========================================================================== */
a {
  vertical-align: baseline;
  font-size: 100%;
  transition: color .25s; }
  a, a:hover {
    color: #2046df;
    text-decoration: none; }
  a:hover {
    color: #ec1831; }
  a:active {
    transition: none;
    color: #ff001e;
    text-decoration: underline; }
  a:visited {
    color: #d01fe0;
    transition: none;
    text-decoration: none; }

/* ==========================================================================
   Base - Lists
   ========================================================================== */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 1em; }
  ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl {
    margin-bottom: 0; }

li, dt, dd {
  line-height: 1.6; }

ul, ol {
  padding-left: 1.5em; }

dd {
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

/* ==========================================================================
   Base - Media
   ========================================================================== */
img {
  display: block;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic; }

img, video, object {
  max-width: 100%;
  height: auto; }

figure {
  margin-bottom: 1em; }

/* ==========================================================================
   Base - Root
   ========================================================================== */
html {
  overflow-y: scroll;
  min-height: 100%;
  word-wrap: break-word;
  font: 1em/1.45 "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  min-height: 100%;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  color: #2c2c2c; }

::-moz-selection {
  background-color: rgba(240, 233, 89, 0.9);
  color: #161616; }

::selection {
  background-color: rgba(240, 233, 89, 0.9);
  color: #161616; }

/* ==========================================================================
   Base - Text
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #2c2c2c; }

p {
  margin-bottom: 1em; }

address {
  font-style: normal; }

small {
  font-size: 0.875em; }

sup {
  top: -0.25em; }

sub {
  bottom: -0.25em; }

ins, u {
  border-bottom: 1px solid;
  text-decoration: none; }

abbr[title],
dfn[title] {
  cursor: help; }

/* ==========================================================================
   Utilities - Colours
   ========================================================================== */
.\+u-bc-white {
  background-color: white; }

.\+u-bc-silver {
  background-color: silver; }

.\+u-bc-gray {
  background-color: gray; }

.\+u-bc-black {
  background-color: black; }

.\+u-bc-red {
  background-color: red; }

.\+u-bc-maroon {
  background-color: maroon; }

.\+u-bc-orange {
  background-color: orange; }

.\+u-bc-yellow {
  background-color: yellow; }

.\+u-bc-olive {
  background-color: olive; }

.\+u-bc-lime {
  background-color: lime; }

.\+u-bc-green {
  background-color: green; }

.\+u-bc-aqua {
  background-color: aqua; }

.\+u-bc-teal {
  background-color: teal; }

.\+u-bc-blue {
  background-color: blue; }

.\+u-bc-navy {
  background-color: navy; }

.\+u-bc-fuchsia {
  background-color: fuchsia; }

.\+u-bc-purple {
  background-color: purple; }

.\+u-bc-pink {
  background-color: pink; }

.\+u-c-white {
  color: white; }

.\+u-c-silver {
  color: silver; }

.\+u-c-gray {
  color: gray; }

.\+u-c-black {
  color: black; }

.\+u-c-red {
  color: red; }

.\+u-c-maroon {
  color: maroon; }

.\+u-c-orange {
  color: orange; }

.\+u-c-yellow {
  color: yellow; }

.\+u-c-olive {
  color: olive; }

.\+u-c-lime {
  color: lime; }

.\+u-c-green {
  color: green; }

.\+u-c-aqua {
  color: aqua; }

.\+u-c-teal {
  color: teal; }

.\+u-c-blue {
  color: blue; }

.\+u-c-navy {
  color: navy; }

.\+u-c-fuchsia {
  color: fuchsia; }

.\+u-c-purple {
  color: purple; }

.\+u-c-pink {
  color: pink; }

.\+u-bc-1 {
  background-color: #ffffff; }

.\+u-bc-2 {
  background-color: #f3f3f3; }

.\+u-bc-3 {
  background-color: #ccc; }

.\+u-c-link {
  color: #2046df; }

.\+u-c-hover {
  color: #ec1831; }

.\+u-c-active {
  color: #ff001e; }

.\+u-c-visited {
  color: #d01fe0; }

.\+u-bc-link {
  background-color: #2046df; }

.\+u-bc-hover {
  background-color: #ec1831; }

.\+u-bc-active {
  background-color: #ff001e; }

.\+u-bc-visited {
  background-color: #d01fe0; }

.\+u-c-h-1 {
  color: #2c2c2c; }

.\+u-c-h-2 {
  color: #424242; }

.\+u-c-h-3 {
  color: #585858; }

.\+u-c-t-1 {
  color: #2c2c2c; }

.\+u-c-t-2 {
  color: #424242; }

.\+u-c-t-3 {
  color: #585858; }

.\+u-c-btn-1 {
  color: #222222; }

.\+u-bc-btn-1 {
  background-color: #bebebe; }

.\+u-c-btn-2 {
  color: #aeaeae; }

.\+u-bc-btn-2 {
  background-color: #a6a6a6; }

.\+u-c-code {
  color: #333333; }

.\+u-bc-code {
  background-color: #f7f7f7; }

.\+u-c-select {
  color: #161616; }

.\+u-bc-select {
  color: rgba(240, 233, 89, 0.9); }

.\+u-c-form-1 {
  color: #999999; }

.\+u-c-form-2 {
  color: #777777; }

.\+u-bc-form-input {
  background-color: #bebebe; }

.\+u-bc-form-hover {
  background-color: #ec1831; }

.\+u-bc-form-active {
  background-color: #ff001e; }

.\+u-bc-form-focus {
  background-color: #d01fe0; }

.\+u-c-google {
  color: #1194f6; }

.\+u-c-facebook {
  color: #336699; }

.\+u-c-twitter {
  color: #00aced; }

.\+u-c-linkedin {
  color: #0977b5; }

.\+u-c-dribble {
  color: #ea4c89; }

.\+u-c-instagram {
  color: #336699; }

.\+u-c-googleplus {
  color: #c20907; }

.\+u-c-behance {
  color: #333333; }

.\+u-c-gimmebar {
  color: #D6156C; }

.\+u-c-github {
  color: #333333; }

.\+u-c-tumblr {
  color: #35465d; }

.\+u-c-youtube {
  color: #e52d27; }

.\+u-c-vine {
  color: #00bf8f; }

.\+u-c-kickstarter {
  color: #14e06e; }

.\+u-c-dropbox {
  color: #007ee5; }

.\+u-c-rss {
  color: #eb7f38; }

.\+u-c-facebook {
  color: #336699; }

.\+u-c-codepen {
  color: #d75e5e; }

.\+u-c-foursquare {
  color: #f94877; }

.\+u-c-soundcloud {
  color: #f83c0e; }

.\+u-c-wordpress {
  color: #464646; }

.\+u-c-tumblr {
  color: #35465d; }

.\+u-c-blogger {
  color: #f57d00; }

.\+u-c-squarespace {
  color: #222222; }

.\+u-c-joomla {
  color: #5e5e5e; }

.\+u-c-drupal {
  color: #0077c0; }

.\+u-c-typepad {
  color: #629841; }

.\+u-c-expression-engine {
  color: #5c81a5; }

.\+u-c-kirby {
  color: #ff0400; }

.\+u-c-moveabletype {
  color: #9cbaca; }

.\+u-c-disqus {
  color: #2e9fff; }

.\+u-c-html {
  color: #ed3e35; }

.\+u-c-yahoo {
  color: #400191; }

.\+u-c-vimeo {
  color: #04aeec; }

.\+u-c-flickr {
  color: #f4f4f4; }

.\+u-c-pinterest {
  color: #cc3333; }

.\+u-c-google-drive {
  color: #333333; }

.\+u-c-android {
  color: #a4c639; }

.\+u-c-apple {
  color: #cccccc; }

.\+u-c-delicious {
  color: #0B79E5; }

.\+u-c-forrst {
  color: #5b9a68; }

.\+u-c-paypal {
  color: #00437f; }

.\+u-c-lastfm {
  color: #c3000d; }

.\+u-c-skype {
  color: #009fe3; }

.\+u-c-digg {
  color: #333333; }

.\+u-c-swarm {
  color: #ffb000; }

.\+u-c-etsy {
  color: #ffb000; }

.\+u-bc-google {
  background-color: #1194f6; }

.\+u-bc-facebook {
  background-color: #336699; }

.\+u-bc-twitter {
  background-color: #00aced; }

.\+u-bc-linkedin {
  background-color: #0977b5; }

.\+u-bc-dribble {
  background-color: #ea4c89; }

.\+u-bc-instagram {
  background-color: #336699; }

.\+u-bc-googleplus {
  background-color: #c20907; }

.\+u-bc-behance {
  background-color: #333333; }

.\+u-bc-gimmebar {
  background-color: #D6156C; }

.\+u-bc-github {
  background-color: #333333; }

.\+u-bc-tumblr {
  background-color: #35465d; }

.\+u-bc-youtube {
  background-color: #e52d27; }

.\+u-bc-vine {
  background-color: #00bf8f; }

.\+u-bc-kickstarter {
  background-color: #14e06e; }

.\+u-bc-dropbox {
  background-color: #007ee5; }

.\+u-bc-rss {
  background-color: #eb7f38; }

.\+u-bc-facebook {
  background-color: #336699; }

.\+u-bc-codepen {
  background-color: #d75e5e; }

.\+u-bc-foursquare {
  background-color: #f94877; }

.\+u-bc-soundcloud {
  background-color: #f83c0e; }

.\+u-bc-wordpress {
  background-color: #464646; }

.\+u-bc-tumblr {
  background-color: #35465d; }

.\+u-bc-blogger {
  background-color: #f57d00; }

.\+u-bc-squarespace {
  background-color: #222222; }

.\+u-bc-joomla {
  background-color: #5e5e5e; }

.\+u-bc-drupal {
  background-color: #0077c0; }

.\+u-bc-typepad {
  background-color: #629841; }

.\+u-bc-expression-engine {
  background-color: #5c81a5; }

.\+u-bc-kirby {
  background-color: #ff0400; }

.\+u-bc-moveabletype {
  background-color: #9cbaca; }

.\+u-bc-disqus {
  background-color: #2e9fff; }

.\+u-bc-html {
  background-color: #ed3e35; }

.\+u-bc-yahoo {
  background-color: #400191; }

.\+u-bc-vimeo {
  background-color: #04aeec; }

.\+u-bc-flickr {
  background-color: #f4f4f4; }

.\+u-bc-pinterest {
  background-color: #cc3333; }

.\+u-bc-google-drive {
  background-color: #333333; }

.\+u-bc-android {
  background-color: #a4c639; }

.\+u-bc-apple {
  background-color: #cccccc; }

.\+u-bc-delicious {
  background-color: #0B79E5; }

.\+u-bc-forrst {
  background-color: #5b9a68; }

.\+u-bc-paypal {
  background-color: #00437f; }

.\+u-bc-lastfm {
  background-color: #c3000d; }

.\+u-bc-skype {
  background-color: #009fe3; }

.\+u-bc-digg {
  background-color: #333333; }

.\+u-bc-swarm {
  background-color: #ffb000; }

.\+u-bc-etsy {
  background-color: #ffb000; }

.\+u-bc-success {
  background-color: #4FC56B; }

.\+u-bc-info {
  background-color: #59A7F2; }

.\+u-bc-warning {
  background-color: #FADB40; }

.\+u-bc-danger {
  background-color: #F58E45; }

.\+u-bc-error {
  background-color: #F45757; }

.\+u-c-success {
  color: #4FC56B; }

.\+u-c-info {
  color: #59A7F2; }

.\+u-c-warning {
  color: #FADB40; }

.\+u-c-danger {
  color: #F58E45; }

.\+u-c-error {
  color: #F45757; }

/* ==========================================================================
   Utilities - Displays
   ========================================================================== */
.\+u-d-block {
  display: block; }

.\+u-d-inline {
  display: inline; }

.\+u-d-inline-block {
  display: inline-block; }

.\+u-d-table {
  display: table; }

.\+u-d-table-cell {
  display: table-cell; }

.\+u-d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* ==========================================================================
   Utilities - Silent Extends
   
   @include extend makes class into extend: @extend %e-d-block;
   
   ========================================================================== */
.o-flag, .o-flag__body {
  width: 100%; }

/* ==========================================================================
   Utilities Fonts Sizes
   ========================================================================== */
.\+u-fs-h1x {
  font-size: 6em; }

.\+u-fs-h2x {
  font-size: 5.25em; }

.\+u-fs-h3x {
  font-size: 4.5em; }

.\+u-fs-h4x {
  font-size: 3.75em; }

.\+u-fs-h5x {
  font-size: 3.375em; }

.\+u-fs-h6x {
  font-size: 3em; }

.\+u-fs-h1 {
  font-size: 2em; }

.\+u-fs-h2 {
  font-size: 1.625em; }

.\+u-fs-h3 {
  font-size: 1.375em; }

.\+u-fs-h4 {
  font-size: 1.25em; }

.\+u-fs-h5 {
  font-size: 1.125em; }

.\+u-fs-h6 {
  font-size: 1em; }

.\+u-fs-base {
  font-size: 1em; }

.\+u-fs-lead {
  font-size: 1.125em; }

.\+u-fs-half {
  font-size: 0.5em; }

.\+u-fs-inherit {
  font-size: inherit; }

.\+u-fs-h7 {
  font-size: 0.875em; }

.\+u-fs-h8 {
  font-size: 0.75em; }

.\+u-fs-h9 {
  font-size: 0.625em; }

.\+u-fs-h10 {
  font-size: 0.5em; }

/* ==========================================================================
   Utilities Font Styles
   ========================================================================== */
.\+u-fs-normal {
  font-style: normal; }

.\+u-fs-italic {
  font-style: italic; }

.\+u-fs-oblique {
  font-style: oblique; }

/* ==========================================================================
   Utilities Font Weights
   ========================================================================== */
.\+u-fw-100 {
  font-weight: 100; }

.\+u-fw-200 {
  font-weight: 200; }

.\+u-fw-300 {
  font-weight: 300; }

.\+u-fw-400 {
  font-weight: 400; }

.\+u-fw-500 {
  font-weight: 500; }

.\+u-fw-600 {
  font-weight: 600; }

.\+u-fw-700 {
  font-weight: 700; }

.\+u-fw-800 {
  font-weight: 800; }

.\+u-fw-900 {
  font-weight: 900; }

.\+u-fw-normal {
  font-weight: normal; }

.\+u-fw-bold {
  font-weight: bold; }

.\+u-fw-lighter {
  font-weight: lighter; }

.\+u-fw-bolder {
  font-weight: bolder; }

/*==========================================================================
  Utilities - Mixins
  ========================================================================== */
.\+u-hidden {
  display: none !important;
  visibility: hidden; }

.\+u-cf:before, .\+u-cf:after {
  content: "";
  display: table; }
.\+u-cf:after {
  clear: both; }

.\+u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.\+u-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.\+u-unstyled {
  padding-left: 0; }
  .\+u-unstyled li {
    list-style: none; }
  .\+u-unstyled dd {
    margin-left: 0; }

.\+u-ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em; }

.\+u-cc {
  margin-left: auto;
  margin-right: auto; }

.\+u-invisible {
  visibility: hidden; }

.\+u-va-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.\+u-va {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.\+u-va-table {
  display: table;
  border-collapse: collapse;
  width: 100%; }
  .\+u-va-table__inner {
    display: table-cell;
    vertical-align: middle; }

.\+u-mb {
  margin-bottom: 1em; }

.\+u-link-block-space {
  display: block;
  padding: 1em;
  margin: -1em; }

/* ==========================================================================
   Utilities Rounded
   ========================================================================== */
.\+u-r-circle {
  border-radius: 100%; }

.\+u-r-all {
  border-radius: 3px; }

.\+u-r-top {
  border-radius: 3px 3px 0 0; }

.\+u-r-left {
  border-radius: 3px 0 0 3px; }

.\+u-r-right {
  border-radius: 0 3px 3px 0; }

.\+u-r-bottom {
  border-radius: 0 0 3px 3px; }

.\+u-r-tl {
  border-radius: 3px 0 0 0; }

.\+u-r-tr {
  border-radius: 0 3px 0 0; }

.\+u-r-br {
  border-radius: 0 0 3px 0; }

.\+u-r-bl {
  border-radius: 0 0 0 3px; }

.\+u-r-reset {
  border-radius: 0; }

/* ==========================================================================
   Utilities - Spaces
   ========================================================================== */
.\+u-s-mt-1\/6 {
  margin-top: 0.1666666667em !important; }

.\+u-s-mr-1\/6 {
  margin-right: 0.1666666667em !important; }

.\+u-s-mb-1\/6 {
  margin-bottom: 0.1666666667em !important; }

.\+u-s-ml-1\/6 {
  margin-left: 0.1666666667em !important; }

.\+u-s-m-1\/6 {
  margin: 0.1666666667em !important; }

.\+u-s-mt-1\/5 {
  margin-top: 0.2em !important; }

.\+u-s-mr-1\/5 {
  margin-right: 0.2em !important; }

.\+u-s-mb-1\/5 {
  margin-bottom: 0.2em !important; }

.\+u-s-ml-1\/5 {
  margin-left: 0.2em !important; }

.\+u-s-m-1\/5 {
  margin: 0.2em !important; }

.\+u-s-mt-1\/4 {
  margin-top: 0.25em !important; }

.\+u-s-mr-1\/4 {
  margin-right: 0.25em !important; }

.\+u-s-mb-1\/4 {
  margin-bottom: 0.25em !important; }

.\+u-s-ml-1\/4 {
  margin-left: 0.25em !important; }

.\+u-s-m-1\/4 {
  margin: 0.25em !important; }

.\+u-s-mt-1\/3 {
  margin-top: 0.3333333333em !important; }

.\+u-s-mr-1\/3 {
  margin-right: 0.3333333333em !important; }

.\+u-s-mb-1\/3 {
  margin-bottom: 0.3333333333em !important; }

.\+u-s-ml-1\/3 {
  margin-left: 0.3333333333em !important; }

.\+u-s-m-1\/3 {
  margin: 0.25em !important; }

.\+u-s-mt-1\/2 {
  margin-top: 0.5em !important; }

.\+u-s-mr-1\/2 {
  margin-right: 0.5em !important; }

.\+u-s-mb-1\/2 {
  margin-bottom: 0.5em !important; }

.\+u-s-ml-1\/2 {
  margin-left: 0.5em !important; }

.\+u-s-m-1\/2 {
  margin: 0.25em !important; }

.\+u-s-mt-0 {
  margin-top: 0 !important; }

.\+u-s-mr-0 {
  margin-right: 0 !important; }

.\+u-s-mb-0 {
  margin-bottom: 0 !important; }

.\+u-s-ml-0 {
  margin-left: 0 !important; }

.\+u-s-m-0 {
  margin: 0 !important; }

.\+u-s-mt {
  margin-top: 1em !important; }

.\+u-s-mr {
  margin-right: 1em !important; }

.\+u-s-mb {
  margin-bottom: 1em !important; }

.\+u-s-ml {
  margin-left: 1em !important; }

.\+u-s-m {
  margin: 1em !important; }

.\+u-s-mt-1-1\/2 {
  margin-top: 1.5em !important; }

.\+u-s-mr-1-1\/2 {
  margin-right: 1.5em !important; }

.\+u-s-mb-1-1\/2 {
  margin-bottom: 1.5em !important; }

.\+u-s-ml-1-1\/2 {
  margin-left: 1.5em !important; }

.\+u-s-m-1-1\/2 {
  margin: 1.5em !important; }

.\+u-s-mt-2 {
  margin-top: 2em !important; }

.\+u-s-mr-2 {
  margin-right: 2em !important; }

.\+u-s-mb-2 {
  margin-bottom: 2em !important; }

.\+u-s-ml-2 {
  margin-left: 2em !important; }

.\+u-s-m-2 {
  margin: 2em !important; }

.\+u-s-mt-3 {
  margin-top: 3em !important; }

.\+u-s-mr-3 {
  margin-right: 3em !important; }

.\+u-s-mb-3 {
  margin-bottom: 3em !important; }

.\+u-s-ml-3 {
  margin-left: 3em !important; }

.\+u-s-m-3 {
  margin: 3em !important; }

.\+u-s-mt-4 {
  margin-top: 4em !important; }

.\+u-s-mr-4 {
  margin-right: 4em !important; }

.\+u-s-mb-4 {
  margin-bottom: 4em !important; }

.\+u-s-ml-4 {
  margin-left: 4em !important; }

.\+u-s-m-4 {
  margin: 4em !important; }

.\+u-s-mt-5 {
  margin-top: 5em !important; }

.\+u-s-mr-5 {
  margin-right: 5em !important; }

.\+u-s-mb-5 {
  margin-bottom: 5em !important; }

.\+u-s-ml-5 {
  margin-left: 5em !important; }

.\+u-s-m-5 {
  margin: 5em !important; }

.\+u-s-mt-6 {
  margin-top: 6em !important; }

.\+u-s-mr-6 {
  margin-right: 6em !important; }

.\+u-s-mb-6 {
  margin-bottom: 6em !important; }

.\+u-s-ml-6 {
  margin-left: 6em !important; }

.\+u-s-m-6 {
  margin: 6em !important; }

.\+u-s-pt-1\/6 {
  padding-top: 0.1666666667em !important; }

.\+u-s-pr-1\/6 {
  padding-right: 0.1666666667em !important; }

.\+u-s-pb-1\/6 {
  padding-bottom: 0.1666666667em !important; }

.\+u-s-pl-1\/6 {
  padding-left: 0.1666666667em !important; }

.\+u-s-p-1\/6 {
  padding: 0.1666666667em !important; }

.\+u-s-pt-1\/5 {
  padding-top: 0.2em !important; }

.\+u-s-pr-1\/5 {
  padding-right: 0.2em !important; }

.\+u-s-pb-1\/5 {
  padding-bottom: 0.2em !important; }

.\+u-s-pl-1\/5 {
  padding-left: 0.2em !important; }

.\+u-s-p-1\/5 {
  padding: 0.2em !important; }

.\+u-s-pt-1\/4 {
  padding-top: 0.25em !important; }

.\+u-s-pr-1\/4 {
  padding-right: 0.25em !important; }

.\+u-s-pb-1\/4 {
  padding-bottom: 0.25em !important; }

.\+u-s-pl-1\/4 {
  padding-left: 0.25em !important; }

.\+u-s-p-1\/4 {
  padding: 0.25em !important; }

.\+u-s-pt-1\/3 {
  padding-top: 0.3333333333em !important; }

.\+u-s-pr-1\/3 {
  padding-right: 0.3333333333em !important; }

.\+u-s-pb-1\/3 {
  padding-bottom: 0.3333333333em !important; }

.\+u-s-pl-1\/3 {
  padding-left: 0.3333333333em !important; }

.\+u-s-p-1\/3 {
  padding: 0.3333333333em !important; }

.\+u-s-pt-1\/2 {
  padding-top: 0.5em !important; }

.\+u-s-pr-1\/2 {
  padding-right: 0.5em !important; }

.\+u-s-pb-1\/2 {
  padding-bottom: 0.5em !important; }

.\+u-s-pl-1\/2 {
  padding-left: 0.5em !important; }

.\+u-s-p-1\/2 {
  padding: 0.5em !important; }

.\+u-s-pt-0 {
  padding-top: 0 !important; }

.\+u-s-pr-0 {
  padding-right: 0 !important; }

.\+u-s-pb-0 {
  padding-bottom: 0 !important; }

.\+u-s-pl-0 {
  padding-left: 0 !important; }

.\+u-s-p-0 {
  padding: 0 !important; }

.\+u-s-pt {
  padding-top: 1em !important; }

.\+u-s-pr {
  padding-right: 1em !important; }

.\+u-s-pb {
  padding-bottom: 1em !important; }

.\+u-s-pl {
  padding-left: 1em !important; }

.\+u-s-p {
  padding: 1em !important; }

.\+u-s-pt-1-1\/2 {
  padding-top: 1.5em !important; }

.\+u-s-pr-1-1\/2 {
  padding-right: 1.5em !important; }

.\+u-s-pb-1-1\/2 {
  padding-bottom: 1.5em !important; }

.\+u-s-pl-1-1\/2 {
  padding-left: 1.5em !important; }

.\+u-s-p-1-1\/2 {
  padding: 1.5em !important; }

.\+u-s-pt-2 {
  padding-top: 2em !important; }

.\+u-s-pr-2 {
  padding-right: 2em !important; }

.\+u-s-pb-2 {
  padding-bottom: 2em !important; }

.\+u-s-pl-2 {
  padding-left: 2em !important; }

.\+u-s-p-2 {
  padding: 2em !important; }

.\+u-s-pt-3 {
  padding-top: 3em !important; }

.\+u-s-pr-3 {
  padding-right: 3em !important; }

.\+u-s-pb-3 {
  padding-bottom: 3em !important; }

.\+u-s-pl-3 {
  padding-left: 3em !important; }

.\+u-s-p-3 {
  padding: 3em !important; }

.\+u-s-pt-4 {
  padding-top: 4em !important; }

.\+u-s-pr-4 {
  padding-right: 4em !important; }

.\+u-s-pb-4 {
  padding-bottom: 4em !important; }

.\+u-s-pl-4 {
  padding-left: 4em !important; }

.\+u-s-p-4 {
  padding: 4em !important; }

.\+u-s-pt-5 {
  padding-top: 5em !important; }

.\+u-s-pr-5 {
  padding-right: 5em !important; }

.\+u-s-pb-5 {
  padding-bottom: 5em !important; }

.\+u-s-pl-5 {
  padding-left: 5em !important; }

.\+u-s-p-5 {
  padding: 5em !important; }

.\+u-s-pt-6 {
  padding-top: 6em !important; }

.\+u-s-pr-6 {
  padding-right: 6em !important; }

.\+u-s-pb-6 {
  padding-bottom: 6em !important; }

.\+u-s-pl-6 {
  padding-left: 6em !important; }

.\+u-s-p-6 {
  padding: 6em !important; }

/* ==========================================================================
   Utilities Text
   ========================================================================== */
.\+u-td-underline {
  text-decoration: underline; }

.\+u-tt-lower {
  text-transform: lowercase; }

.\+u-tt-upper {
  text-transform: uppercase; }

.\+u-tt-caps {
  text-transform: capitalize; }

.\+u-ta-left {
  text-align: left; }

.\+u-ta-right {
  text-align: right; }

.\+u-ta-center {
  text-align: center; }

.\+u-ta-justify {
  text-align: justify; }

/* ==========================================================================
   Object - Flag
   ========================================================================== */
.o-flag {
  display: table; }
  .o-flag__body {
    display: table-cell;
    vertical-align: middle; }
  .o-flag__image {
    padding-right: 2em;
    display: table-cell;
    vertical-align: middle; }
    .o-flag__image > img {
      display: block;
      max-width: none; }
  .o-flag.\--rev .o-flag__image {
    padding-right: 0;
    padding-left: 2em; }

/* ==========================================================================
   Object - Images / Figure
   ========================================================================== */
.o-img.\--circle {
  border-radius: 50%; }
.o-img.\--right {
  float: right; }
.o-img.\--left {
  float: left; }
.o-img.\--center {
  margin-right: auto;
  margin-left: auto; }
.o-img.\--full {
  width: 100%; }

/*make inline list li have bullets with inline:block; */
/*maybe working on this work on this?
	http://stackoverflow.com/questions/34399/show-unordered-list-inline-but-keep-the-bullets
*/
/* ==========================================================================
   Modules CSS Social Gallery - 1.0
   ========================================================================== */
.m-social-gallery__item {
  width: 12.5%;
  vertical-align: bottom; }
  .m-social-gallery__item a {
    display: block;
    padding: 25%; }
    .m-social-gallery__item a img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      vertical-align: middle; }

/* ==========================================================================
   Site Custom Adds
   
   example:

    @include add(add-site-border) { 
      border-bottom: 2px solid red;
    }

    .+add-site-border

   ========================================================================== */
/* ==========================================================================
   Site Root
   ========================================================================== */
html, body {
  height: 100%; }

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  text-align: center;
  height: 100%;
  margin-top: 2em; }
  @media (min-width: 38.75em) {
    .l-container {
      margin-top: 0; } }
  .l-container__inner {
    height: 100%; }
    .l-container__inner img {
      width: 140px; }
      @media (min-width: 38.75em) {
        .l-container__inner img {
          width: 200px; } }
    .l-container__inner h1 {
      padding-left: 10%;
      padding-right: 10%;
      font-size: 1.625em;
      font-weight: 400;
      font-family: 'source sans pro';
      color: #cbcbcb; }
      @media (min-width: 38.75em) {
        .l-container__inner h1 {
          padding-left: 20%;
          padding-right: 20%; } }

.m-social-gallery {
  margin-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em; }
  @media (min-width: 38.75em) {
    .m-social-gallery {
      margin-top: 4em;
      padding-left: 0;
      padding-right: 0; } }
  .m-social-gallery__item {
    display: inline-block;
    width: 20%;
    margin: 4.5%; }
    @media (min-width: 38.75em) {
      .m-social-gallery__item {
        width: 10%;
        margin: 2.5%; } }
    .m-social-gallery__item a {
      padding: 27%;
      transition: all 0.1s; }
      @media (min-width: 38.75em) {
        .m-social-gallery__item a {
          padding: 25%; } }
      .m-social-gallery__item a:hover {
        -webkit-transform: scale(1.25);
            -ms-transform: scale(1.25);
                transform: scale(1.25);
        transition: all 0.08s; }
