h1(class='styleguide-title +u-h4x') Base Code
h2.styleguide-title--sub code
.styleguide-base.code
  code code element
.styleguide-code
  p code here
h2.styleguide-title--sub pre > code
.styleguide-base.code
  pre
    code code elementcode element
.styleguide-code
  p code here