h1(class='styleguide-title +u-h4x') Base Links
h2.styleguide-title--sub Default
.styleguide-base.links
  a(href='#') link
.styleguide-code
  p code here
h2.styleguide-title--sub Base Colour Links
.styleguide-utilities.config
  div.styleguide-colors.c-link
  div.styleguide-colors.c-link-hover
  div.styleguide-colors.c-link-active
  div.styleguide-colors.c-link-visited
.styleguide-code
  p code here