h1(class='styleguide-title +u-h4x') Base Media
h2.styleguide-title--sub Image 
.styleguide-base.media
  img(src='http://placehold.it/200')
.styleguide-code
  p code here
h2.styleguide-title--sub Base Video
.styleguide-base.media
  iframe(src="//player.vimeo.com/video/75659577", width="500", height="281", frameborder="0", webkitallowfullscreen="", mozallowfullscreen="", allowfullscreen="")
  p(class='+u-h7')
    a(href="http://vimeo.com/75659577") Palms Future Warrior [Official music video] 
    | from
    a(href="http://vimeo.com/user13913534") Keano Valles 
    | on
    a(href="https://vimeo.com") Vimeo.
.styleguide-code
  p code here