h1(class='styleguide-title +u-h4x') Base Quotes
h2.styleguide-title--sub Quotes
.styleguide-base.blockquote
  p
    q
    | q element
    q inside
    | a q element

  p
    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    | ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    | parturient montes,
    q
      | nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      | q quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringi
      | lla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut
    | imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
.styleguide-code
  p code here
h2.styleguide-title--sub Blockquote
.styleguide-base.blockquote
  blockquote
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    b Albert Einstein
.styleguide-code
  p code here
h2.styleguide-title--sub Blockquote Right
.styleguide-base.blockquote
  blockquote(class="+u-text-right")
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    b Albert Einstein
.styleguide-code
  p code here