h1(class='styleguide-title +u-h4x') Base Text
.styleguide-base.typography
  p
    abbr(title='Title text') abbr element
  p
    b b element
  p
    cite cite element
  p
    del del element
  p
    dfn dfn element
  p
    em em element
  p
    i i element img element
  p
    ins ins element
  p
    kbd kbd element
  p
    mark mark element
  p
    s s element
  p
    samp samp element
  p
    small small element
  p
    span span element
  p
    strike strike element
  p
    strong strong element
  p this is the 
    sub sub element
  p this is the 
    sup sup element
  p
    var var element
  p
    u u element
.styleguide-code
  p code here