$use-base-imports:	true !default;

@if $use-base-imports == true{
/* ==========================================================================
   Base - Imports
   
    .eot');                                                // IE9 Compat Modes
    .eot?#iefix') format('embedded-opentype'),             // IE6-IE8   
    .woff2') format('woff2'),                              // http://goo.gl/ldoFk2
    .woff') format('woff'),                                // Modern Browsers 
    .ttf') format('truetype'),                             // Safari, Android, iOS
    .svg#name-of-font') format('svg');                     // Legacy iOS

   ========================================================================== */


	//icon fonts feather
  @font-face {
    font-family: '#{$icon-font-family}';
    	src:url('../../assets/icons/fonts/#{$icon-folder}/#{$icon-name}.eot');
    	src:url('../../assets/icons/fonts/#{$icon-folder}/#{$icon-name}.eot?#iefix') format('embedded-opentype'),
          url('../../assets/icons/fonts/#{$icon-folder}/#{$icon-name}.ttf') format('truetype'),
          url('../../assets/icons/fonts/#{$icon-folder}/#{$icon-name}.woff') format('woff'),
          url('../../assets/icons/fonts/#{$icon-folder}/#{$icon-name}.svg#{$icon-name}') format('svg');
      font-weight: normal;
      font-style: normal;
  }

	//icon fonts github
	@font-face {
	  font-family: '#{$icon-font-family-two}';
	  	src:url('../../assets/icons/fonts/#{$icon-folder-two}/#{$icon-name-two}.eot');
	  	src:url('../../assets/icons/fonts/#{$icon-folder-two}/#{$icon-name-two}.eot?#iefix') format('embedded-opentype'),
	        url('../../assets/icons/fonts/#{$icon-folder-two}/#{$icon-name-two}.ttf') format('truetype'),
	        url('../../assets/icons/fonts/#{$icon-folder-two}/#{$icon-name-two}.woff') format('woff'),
	        url('../../assets/icons/fonts/#{$icon-folder-two}/#{$icon-name-two}.svg#{$icon-name-two}') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

  // type fonts example - source sans pro
  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light.svg#{$type-name}') format('svg');
      font-weight: 200;
      font-style: normal;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light-italic.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light-italic.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light-italic.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light-italic.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light-italic.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-extra-light-italic.svg#{$type-name}') format('svg');
      font-weight: 200;
      font-style: italic;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-light.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-light.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light.svg#{$type-name}') format('svg');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-light-italic.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-light-italic.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light-italic.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light-italic.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light-italic.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-light-italic.svg#{$type-name}') format('svg'); 
      font-weight: 300;
      font-style: italic;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-regular.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-regular.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-regular.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-regular.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-regular.ttf') format('truetype'),   
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-regular.svg#s{$type-name}') format('svg');           
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-italic.eot');    
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-italic.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-italic.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-italic.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-italic.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-italic.svg#{$type-name}') format('svg');   
      font-weight: 400;
      font-style: italic;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold.eot?#iefix') format('embedded-opentype'),           
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold.svg#{$type-name}') format('svg');
      font-weight: 600;
      font-style: normal;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold-italic.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold-italic.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold-italic.woff2') format('woff2'), 
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold-italic.woff') format('woff'),  
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold-italic.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-semi-bold-italic.svg#{$type-name}') format('svg');
      font-weight: 600;
      font-style: italic;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold.svg#{$type-name}') format('svg');          
      font-weight: 700;
      font-style: normal;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold-italic.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold-italic.eot?#iefix') format('embedded-opentype'),           
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold-italic.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold-italic.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold-italic.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-bold-italic.svg#{$type-name}') format('svg');
      font-weight: 700;
      font-style: italic;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-black.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-black.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black.svg#{$type-name}') format('svg');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
    font-family: '#{$type-font-family}';
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-black-italic.eot');
      src: url('../../assets/fonts/#{$type-folder}/#{$type-name}-black-italic.eot?#iefix') format('embedded-opentype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black-italic.woff2') format('woff2'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black-italic.woff') format('woff'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black-italic.ttf') format('truetype'),
           url('../../assets/fonts/#{$type-folder}/#{$type-name}-black-italic.svg#{$type-name}') format('svg');
      font-weight: 900;
      font-style: italic;
  }

}//end if