$use-base-quotes: true !default;

@if $use-base-quotes == true{
/* ==========================================================================
   Base - Quotes
   ========================================================================== */
  
  q{
    quotes:"\2018" "\2019" "\201C" "\201D";
    &:before{
      content:"\2018";
      content:open-quote;
    }

    &:after{
      content:"\2019";
      content:close-quote;
    }

    q:before{
      content:"\201C";
      content:open-quote;
    }

    q:after{
      content:"\201D";
      content:close-quote;
    }
  }


  blockquote{
   @if $use-global-mb == true{
      @include mb;
    }
  }

  
  // blockquote {
  //   padding-left:$space;
  //   border-left:8px solid rgba(0, 0, 0, 0.1);
  // }

  // blockquote , .--right{
  //   // background-color: red;
  //   quotes:"\201C" "\201D";
  //   p:before{
  //     content:"\201C";
  //     content:open-quote;
  //   }
  //   p:after{
  //     content:"";
  //     content:no-close-quote;
  //   }
  //   p:last-of-type:after{
  //     content:"\201D";
  //     content:close-quote;
  //   }
  //   q:before{
  //     content:"\2018";
  //     content:open-quote;
  //   }
  //   q:after{
  //     content:"\2019";
  //     content:close-quote;
  //   }
  // }

  // blockquote , .--right{
  //   p:last-of-type{
  //     margin-bottom:0;
  //   }
  // }

  // blockquote.--right{
  //   padding-right:$space;
  //   border-right:8px solid rgba(0, 0, 0, 0.1);
  //   p{
  //     text-align: right;
  //   } 
  //   blockquote.__source{
  //     text-align: right;
  //     &:before{
  //       content:"";
  //     }
  //     &:after{
  //       content:"\00a0" "\2014";
  //     }
  //   }
  // }

  // blockquote.__source{
  //   font-weight: bold;
  //   display:block;
  //   text-indent:0;
  //   &:before{
  //     content:"\2014" "\00a0";
  //   }
  // }

}//endif