$use-base-text: true !default;

@if $use-base-text == true{
/* ==========================================================================
   Base - Text
   ========================================================================== */
   
  @include headings(1, 6) {
    font-family: $f-base-heading-family;
    color: $c-heading-1;
    @if $use-global-mb == true{
      @include global-mb;
    }
  }

  p{
    @if $use-global-mb == true{
      @include global-mb;
    }
  }

  // default italic 
  address{
    font-style: normal; 
  }

  // make $f-small
  small{
    font-size: $f-small;
  }

  // set default space
  sup{ top: -$space-quarter; }
  sub{ bottom: -$space-quarter; }

  // Apply underlines to inserted
  // remove underlines from potentially troublesome elements
  ins, u{
    border-bottom:1px solid;
    text-decoration: none;
  }

  // extra info give on :hover
  abbr[title],
  dfn[title] {
      cursor: help;
  }

}//end if