/*
Error: Undefined variable: "$use-debug-outlines".
        on line 3 of /var/folders/zl/3wx7gkdj1xq7_p03kg6hb9_40000gn/T/gulp-ruby-sass/debug/debug-outline.scss

1: $use-debug-outline: false !default;
2: 
3: @if $use-debug-outlines == true{
4: /* ==========================================================================
5:    Debug - pesticide v0.1.0 . @mrmrs . MIT
6:    ========================================================================== *\/
7:   body { outline: 1px solid #2980b9 !important; }
8:   article { outline: 1px solid #3498db !important; }

Backtrace:
/var/folders/zl/3wx7gkdj1xq7_p03kg6hb9_40000gn/T/gulp-ruby-sass/debug/debug-outline.scss:3
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/script/tree/node.rb:50:in `perform'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/script/tree/operation.rb:64:in `_perform'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/script/tree/node.rb:50:in `perform'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:287:in `visit_if'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/Users/admin/.rvm/gems/ruby-2.1.0@global/gems/sass-3.4.7/bin/sass:13:in `<top (required)>'
/Users/admin/.rvm/gems/ruby-2.1.0/bin/sass:23:in `load'
/Users/admin/.rvm/gems/ruby-2.1.0/bin/sass:23:in `<main>'
/Users/admin/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/admin/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$use-debug-outlines\".\A         on line 3 of /var/folders/zl/3wx7gkdj1xq7_p03kg6hb9_40000gn/T/gulp-ruby-sass/debug/debug-outline.scss\A \A 1: $use-debug-outline: false !default;\A 2: \A 3: @if $use-debug-outlines == true{\A 4: /* ==========================================================================\A 5:    Debug - pesticide v0.1.0 . @mrmrs . MIT\A 6:    ========================================================================== */\A 7:   body { outline: 1px solid #2980b9 !important; }\A 8:   article { outline: 1px solid #3498db !important; }"; }
